/*Core*/
.notificationsFeedBadge {
    position: relative !important;
    display: inline-block;
    background-color: #ff4040 !important;
    color: #fff;
    top: -34px !important;
    border-radius: 50%;
    width: 16px !important;
    height: 0 !important;
    padding: 8px 0;
}

.notificationsFeedBadge .number {
    position: absolute;
    text-align: center;
    display: inline-block;
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 11px;
    margin-top: 1px;
}

.notificationsFeed .hide,
#NotificationsFeed .hide {
    visibility: hidden;
}

.notificationsFeed {
    line-height: normal;
}

.notificationsFeed .list {
    height: 306px;
    padding: 0;
    overflow-y: auto;
}

.notificationsFeed .item {
    overflow: hidden;
    padding: 12px;
    height: 64px;
}

.notificationsFeed .item:hover {
    border: solid 1px #3c7eaf;
    background-color: #f3f4f7;
    padding: 11px;
}

.notificationsFeed .item.unread {
    background-color: #f4f4f4;
}

.notificationsFeed .item.new {
    border-left: 3px solid #92ce62;
    padding-left: 9px;
}

.notificationsFeed .item a {
    color: #3d4852;
}

.notificationsFeed .image {
    float: left;
    width: 30%;
}

    .notificationsFeed .imageWrapper {
        overflow: hidden;
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 56px;
    }

    .notificationsFeed img {
        width: 100px;
        max-width: 100px;
    }

.notificationsFeed .info {
    float: left;
    width: 70%;
}

    .notificationsFeed .infoWrapper {
        margin-left: 10px;
    }

    .notificationsFeed .info strong {
        display: inline-block;
        width: 100%;
        line-height: 1;
        letter-spacing: .2px;
        color: #3d4852;
    }

    .notificationsFeed .info p {
        margin: 5px 0;
        height: 25px;
        overflow: hidden;
        line-height: 1.27;
        letter-spacing: .2px;
        color: #3d4852;
        font-size: 11px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .notificationsFeed .info .icon {
        background: transparent url(icon_clock.svg) left center no-repeat;
        width: 12px;
        height: 12px;
        display: inline-block;
        vertical-align: bottom;
        margin-bottom: 1px;
    }

    .notificationsFeed .info .createAt {
        font-size: 11px;
        letter-spacing: .2px;
        color: #666666;
    }

.notificationsFeed .footer {
    height: 40px;
    border-top: 1px solid #f5f5f5;
}

.notificationsFeed .footer .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.notificationsFeed .footer a {
    color: #000;
    text-decoration: underline;
}

/*Popover*/
#NotificationsFeedIcon {
    position: relative;
}

#NotificationsFeedIcon.active > .animation {
    animation: rippleAnimation 0.2s;
}
.animation {
    position: absolute !important;
    width: 30px !important;
    height: 30px !important;
    background-color: rgb(96, 96, 96);
    top: -3px;
    left: -3px;
    transform: scale(0);
    opacity: .8;
    border-radius: 50%;
}
@keyframes rippleAnimation {
    0% {
        transform: scale(0);
    }

    20% {
        transform: scale(1);
        opacity: .3;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

#NotificationsFeedIcon {
    background: transparent url(icon_notifications.svg) left center no-repeat;
}

#NotificationsFeed {
    position: relative;
    display: block;
}

#NotificationsFeed .notificationsFeedBadge {
    position: absolute;
    top: -5px;
    left: 11px;
}

.popupNotificationsFeedMenu {
    position: absolute;
    top: 33%;
    left: 60px;
    width: 345px;
    display: none;
    border: 0;
    z-index: 1002;
    background: transparent;
    box-shadow: none;
    box-shadow: 0px 10px 15px -3px rgba(0, 23, 55, 0.1), 0px 4px 6px -2px rgba(0, 23, 55, 0.05);
    border-radius: 4px;
}

.popupNotificationsFeedMenu:before, .popupNotificationsFeedMenu:after {
    display: none !important;
}

.popupNotificationsFeedMenu .notificationsFeed {
    padding: 0;
    min-height: initial;
    border-radius: 2px !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .1);
}

.popupNotificationsFeedMenu .header {
    height: 46px;
    border-bottom: 1px solid #f5f5f5;
}

.popupNotificationsFeedMenu .header strong {
    display: inline-block;
    margin: 14px 12px;
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: .2px;
    color: #333333;
}

.popupNotificationsFeedMenu .list {
    overflow: hidden;
}
.popupNotificationsFeedMenu .list:hover {
    overflow-y: auto;
}
.popupNotificationsFeedMenu .list.scroll {
    overflow-y: auto;
}
