
.loader-spinner {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 1em;
    vertical-align: top;
    background: #ff4040;
    border-radius: 50%;

    svg {
        width: 30px;
        height: 30px;
        transform: rotate(180deg);
        margin: 0 auto;

        path, rect {
            fill: #fff;
        }
    }

    &-inline {
        @extend .loader-spinner;
        display: inline-block;
        width: 10px;
        height: 10px;
        text-indent: inherit;

        svg {
            width: 8px;
            height: 8px;
            padding-top: 6px;
            margin: 0 auto;
        }
    }
}

.loader-container {
    position: fixed;
    z-index: 10004;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(255,255,255, 0.5);
    display: none;

    .loader-wrapper,
    .loader-percentage {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }

    .loader-inner {
        position: relative;
        text-align: center;
        margin-bottom: 10px;
    }

    .loader-button {
        display: flex;
        justify-content: flex-start;
        padding: 10px 5px;
        box-sizing: border-box;

        .loader-cancel-button {
            margin: 0;

            span {
                min-width: 70px;
            }
        }
    }

    .loader-message-content {
        display: inline-block;
        padding: 10px 10px 10px 10px;
        width: 500px;
        height: auto;
        min-height: 20px;
        margin-top: -73px;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 9999;
        transform: translate(-50%, -50%)
    }

    .loader-message-text {
        display: block;
        font-size: 13px;
        overflow: hidden;
        text-align: center;
    }
}

.k-loading-mask {
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255, 0.5);
    overflow: hidden;

    .k-loading-image, .k-loading-color {
        display: none;
    }

    .k-loading-text {
        position: relative;
        text-indent: inherit;
    }
}

.k-loading-small {
    .k-loading-text {
        display: inline-block;
        width: 10px;
        height: 10px;

        svg {
            width: 8px;
            height: 8px;
            padding-top: 6px;
            margin: 0 auto;
        }
    }
}

.k-loading-text {
    @extend .loader-spinner;
    overflow: hidden;
}

.k-treelist {
    .k-i-loading {
        @extend .loader-spinner;
        background-image: none;
        background-position: unset;
        width: 10px;
        height: 10px;
        border: 3px solid;
        border-color: transparent;
    }
}
