@using EveryAngle.Shared.Globalization
@using EveryAngle.ManagementConsole.Models
@{
    int pageSize = (int)ViewData["DefaultPageSize"];
    int gridHeight = Math.Min(pageSize, 8) * 37;
}

@(Html.Kendo().Grid<EveryAngle.Core.ViewModels.Cycle.TaskViewModel>()
    .Name("TasksGrid")
    .Columns(columns =>
    {
        columns.Bound(model => model.name)
            .Title(Resource.Name);

        columns.Bound(model => model.run_as_user)
            .Width(150)
            .Title(Resource.RunAsUser);

        columns.Bound(model => model.enabled)
            .HeaderHtmlAttributes(new { @class = "columnBoolean" }).HtmlAttributes(new { @class = "columnBoolean" }).Title(Resource.Enabled).Width(60)
            .ClientTemplate(
                "<label>"
                + "# if (data.enabled == true) { #"
                + "<input name=\"IsEnabled\" value=\"Continues\" data-default=\"true\" checked=\"checked\" type=\"checkbox\" disabled=\"disabled\">"
                + "# } else { #"
                + "<input name=\"IsEnabled\" value=\"Single\" data-default=\"false\" type=\"checkbox\" disabled=\"disabled\">"
                + "# } #"
                + "<span class=\"label\"></span></label>");

        columns.Bound(model => model.trigger_type)
            .Title(Resource.Type)
            .Width(100);

        columns.Bound(model => model.action_count)
            .Width(60)
            .Title(Resource.MC_Actions)
            .HeaderHtmlAttributes(new { @class = "columnNumber" })
            .HtmlAttributes(new { @class = "columnNumber" });

        columns.Bound(model => model.RefreshCycleTrigger.days)
            .ClientTemplate("#= data.Triggers && data.Triggers.length && data.Triggers[0].trigger_type !== 'schedule' ? '' : MC.AutomationTasks.Tasks.GetDaysCheckbox(data) #")
            .Width(135)
            .Sortable(false)
            .Title(Resource.Day);

        columns.Bound(model => model.RefreshCycleTrigger.start_time)
            .HeaderTemplate(PageHelper.HeaderWithTimezone(Resource.StartTime))
            .ClientTemplate("#= data.RefreshCycleTrigger == null ? '' : MC.util.getDisplayTimeForGrid(data.RefreshCycleTrigger.start_time, false) #")
            .HeaderHtmlAttributes(new { @class = "columnDate" })
            .HtmlAttributes(new { @class = "columnDate" })
            .Sortable(false)
            .Width(115);

        columns.Bound(model => model.max_run_time)
            .Title(Resource.MaxRunTime)
            .HeaderHtmlAttributes(new { @class = "columnDate" })
            .HtmlAttributes(new { @class = "columnDate" })
            .Width(90)
            .Sortable(false)
            .ClientTemplate("#= MC.util.getDisplayTimeUTC(data.max_run_time) #");

        columns.Bound(model => model.status)
            .Width(50)
            .Sortable(false)
            .Title(Resource.Status);

        columns.Bound(model => model.id)
            .ClientTemplate("#= MC.AutomationTasks.Tasks.SetAbilityToEditControl(data, " + ViewBag.ManageSystemPrivilege + ", " + ViewBag.CanScheduleAngles + ", \"" + ViewBag.UserId + "\") #")
            .HeaderHtmlAttributes(new { @class = "gridColumnToolbar" })
            .HtmlAttributes(new { @class = "gridColumnToolbar" })
            .Width(75)
            .Sortable(false)
            .Title(Resource.MC_Action);
    })
    .Scrollable(scroll => scroll.Virtual(true).Height(gridHeight))
    .Resizable(resize => resize.Columns(true))
    .Sortable(sortable => sortable.AllowUnsort(false))
    .DataSource(dataSource => dataSource
        .Ajax().Events(e => e.RequestStart("onKendoGridPagingStart"))        
        .Read(read => read.Action("ReadTasksGrid", "AutomationTasks", new { tasksUri = ViewBag.TasksUri, q = @ViewBag.Query }))
        .Sort(m => m.Add(ViewBag.SortField).Order(ViewBag.SortDirection))
        .PageSize(pageSize)
    )
    .EnableCustomBinding(true)
    .AutoBind(false)
)
