$font-stack: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif, Tahoma;
$font-size: 12px;
$font-color: #555;
$background-color: #fff;

$primary-color: #25cad2;
$secondary-color: #f7f7f7;

$animation: all .3s cubic-bezier(.25, .8, .25, 1);
$box-shadow: 0 1px 2px 0 rgba(8, 35, 48, .24), 0 2px 6px 0 rgba(8, 35, 48, .16);
$disabled-opacity: .7;
$text-shadow-bold: 0 0 .65px currentColor, 0 0 .65px currentColor;
$general-border-color: #f3f3f3;

$scrollbar-color: #b5b5b5;
$scrollbar-color-hover: #bdbdbd;
$scrollbar-color-active: #dadada;
$scrollbar-track-color: #ececec;
$scrollbar-track-color-hover: #d8d8d8;
$scrollbar-track-color-active: #f7f7f7;

// For input boxes
$input-base-border: #c6cacc;
$input-focus-border: #061c2b;
$input-primary-font-color: rgba(0, 0, 0, 0.6);