<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <appSettings>
    <add  key="FieldCategoryIconPath" xdt:Transform="Replace" value="Admin/UploadedResources/FieldCategoryIcons/" xdt:Locator="Match(key)"/>
    <add key="ManagementConsoleUrl" xdt:Transform="Replace" value="Admin/" xdt:Locator="Match(key)"/>
    <add key="EnableOptimizations" xdt:Transform="Replace" xdt:Locator="Match(key)" value="true"/>
  
  </appSettings>

  <location>
    <system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
      <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
      
    -->
      <caching>
        <outputCacheSettings>
          <outputCacheProfiles>
            <add xdt:Transform="Replace"  xdt:Locator="Match(name)" name="StaticContent" duration="86400" varyByParam="*" enabled="true" location="Server" />
            <add xdt:Transform="Replace"  xdt:Locator="Match(name)" name="ManagementConsoleContent"  duration="86400"  varyByParam="isVisible" enabled="true"/>
            <add xdt:Transform="Replace"  xdt:Locator="Match(name)" name="AnglePublishDetailContent" duration="86400" varyByParam="viewType" enabled="true" />
            <add xdt:Transform="Replace"  xdt:Locator="Match(name)" name="ResourceContent" duration="36000" varyByParam="lang" enabled="true" location="Server" />
            <add xdt:Transform="Replace"  xdt:Locator="Match(name)" name="PopupContent" duration="86400" varyByParam="id" enabled="true"/>
          </outputCacheProfiles>
        </outputCacheSettings>

      </caching>
    </system.web>
  </location>
</configuration>