<div id="CreateNewAngleButtonWrapper" class="createNewAngleButtonWrapper alwaysHide">
    <a id="CreateNewAngle" class="btn btnCreateNewAngle btn-primary" data-bind="click: function () { createNewAngleViewManagementModel.CheckModelAvailable(); }">
        <span data-bind="html: Captions.Button_CreateNewAngle + '<br/><em class=\'no-model textEllipsis\'>' + Captions.Button_CreateNewAngle_NoModel + '</em>'"></span>
        <div id="SelectModelCreateNewAngle" class="btnSelectModelCreateNewAngle" data-bind="click: createNewAngleViewManagementModel.ToggleModelsList, clickBubble: false">
            <i class="icon icon-chevron-down"></i>
        </div>
    </a>
    <ul class="listview listview-popup popupSelectModelCreateNewAngle" id="PopupSelectModelCreateNewAngle"></ul>
</div>
