<div class="facetFilter" data-bind="foreach: { data: Data, as: 'facet' }">
    <div class="facetFilterSection" data-bind="visible: $root.IsFacetVisible(facet)">
        <!-- ko if: $root.IsFacetHeaderVisible($index(), facet.type) -->
        <div class="FilterTab" data-bind="
             attr: { 'id': facet.id },
             css: $root.GetFacetTabClassname(facet),
             click: $root.ToggleCategory">
            <span class="FilterTitle" data-bind="text: $root.GroupGeneral === facet.type ? Localization.GeneralFilters : facet.name"></span>
            <i class="icon icon-chevron-up"></i>
            <i class="icon icon-chevron-down"></i>
        </div>
        <!-- /ko -->
        <div class="FilterCheckBox" data-bind="
             css: $root.GetFacetCheckboxesClassname(facet), 
             attr: { 'id': facet.id + '_Checkbox' }, 
             visible: facet.panel_opened()">
            <ul data-bind="foreach: { data: facet.filters(), as: 'filter' }, attr: { 'class': facet.id }">
                <li data-bind="visible: $root.CheckAngleFacetVisibility(filter.id, filter.count())">
                    <label>
                        <input type="checkbox"
                               data-bind="attr: { 'id': filter.id },
                                    checked: $root.IsFacetChecked(filter, facet),
                                    enable: filter.enabled,
                                    click: function (data, event) { return facetFiltersViewModel.FilterItems(data, event, $parent) },
                                    Indeterminatable: filter.checked" />
                        <span class="label"
                              data-bind="html: $root.GetFilterText(filter, facet.type, facet.id),
                                attr: { 'alt': filter.id },
                                css: { 'strike-through': filter.negative }"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
