<div class="sortWrapper">
    <ul id="sortList" class="sortList"></ul>
    <input id="SortItemBySelect" type="hidden" class="eaDropdown eaDropdownSize40" />
</div>

<div class="viewModeWrapper">
    <div id="ViewType" class="viewType">
        <a id="DisplaysList" onclick="searchPageHandler.SwitchDisplay(searchPageHandler.DISPLAY_TYPE.DISPLAYS)" class="typeDisplays" data-bind="attr: { title: Localization.ViewDisplaysMode }, css: { active: searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.DISPLAYS }"></a>
        <a id="LongList" onclick="searchPageHandler.SwitchDisplay(searchPageHandler.DISPLAY_TYPE.FULL)" class="typeFull" data-bind="attr: { title: Localization.ViewDetailsMode }, css: { active: searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.FULL }"></a>
        <a id="ShortList" onclick="searchPageHandler.SwitchDisplay(searchPageHandler.DISPLAY_TYPE.COMPACT)" class="typeCompact" data-bind="attr: { title: Localization.ViewCompactMode }, css: { active: searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.COMPACT }"></a>
    </div>
</div>