<div id="SearchResultView" class="viewModeWrapper disabled">
    <div id="ViewType" class="viewType">
        <a id="DisplaysList" onclick="searchPageHandler.SwitchDisplay(searchPageHandler.DISPLAY_TYPE.DISPLAYS)" class="typeDisplays" data-bind="attr: { 'data-tooltip-text': Localization.ViewDetailsMode }, css: { active: searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.DISPLAYS }"></a>
        <a id="ShortList" onclick="searchPageHandler.SwitchDisplay(searchPageHandler.DISPLAY_TYPE.COMPACT)" class="typeCompact" data-bind="attr: { 'data-tooltip-text': Localization.ViewCompactMode }, css: { active: searchPageHandler.DisplayType() === searchPageHandler.DISPLAY_TYPE.COMPACT }"></a>
    </div>
</div>
