@using EveryAngle.Shared.Globalization
@using EveryAngle.Core.ViewModels.EAPackage
@model IEnumerable<ExportPackageModelViewModel>
@{
    Layout = null;
}

<div class="popupContent">
    <form id="ActivatePackageForm">
        @{Html.RenderPartial("~/Views/GlobalSettings/TemplateAngles/ModelSelectorFrom.cshtml", Model);}
    </form>
    <div class="popupToolbar">
        <a class="btn btnPrimary btnSubmit" id="ExportPackageButton" onclick="MC.Models.Packages.ActivatePackageFromPopup(this)">@Resource.Ok</a>
        <a class="btn" data-role="popup-close">@Resource.Cancel</a>
    </div>
</div>

