<div class="popup" id="popupDescriptionTemplate">
    <div class="popupContent"></div>
    <div class="popupToolbar">
        <a class="btn btnPrimary btnClose" data-role="popup-close">@EveryAngle.Shared.Globalization.Resource.Close</a>
    </div>
</div>