@{
    Layout = null;
}

<!-- ko stopBinding: true -->
<ol class="breadcrumbDirectory" data-bind="foreach: $root.ViewModels">
    <li class="breadcrumbItem">
        <i data-bind="attr: { class: $data.frontIcon }"></i>

        <!--ko if: $data.url() -->
        <a class="textEllipsis breadcrumbLabel breadcrumbLink" data-bind="text: $data.label, attr: { href: $data.url, title: $data.title }"></a>
        <!--/ko-->
        <!--ko ifnot: $data.url() -->
        <span class="textEllipsis breadcrumbLabel" data-bind="text: $data.label, attr: { title: $data.title }"></span>
        <!--/ko-->

        <i data-bind="attr: { class: $data.rearIcon }"></i>
    </li>
</ol>
<!-- /ko -->
