@{
    Layout = null;
}

<!-- ko stopBinding: true -->
<ol class="breadcrumb-wrapper" data-bind="foreach: $root.Data">
    <li class="breadcrumb-item" data-bind="css: { 'text-ellipsis': $data.ellipsis }">
        <span data-bind="attr: { class: $data.separatorIcon }"></span>
        <a class="breadcrumb-label"
           data-bind="click: $data.click,
           attr: { href: $data.url },
           css: {
            'breadcrumb-link': $data.url(),
            'breadcrumb-editable': $data.hasEditIcon(),
            'text-ellipsis': $data.ellipsis
           }">
            <span data-bind="attr: { class: $data.frontIcon }"></span>
            <span class="breadcrumb-name" data-bind="text: $data.label,
               css: { 'text-ellipsis': $data.ellipsis },
               attr: {
                'data-role': 'tooltip',
                'data-tooltip-position': 'bottom',
                'data-tooltip-text': $data.title,
                'data-showwhenneed': true
               }"></span>
            <span data-bind="attr: { class: $data.rearIcon }"></span>
            <!-- ko if: $data.hasEditIcon() -->
            <span class="icon-breadcrumb-rear icon-breadcrumb-edit icon icon-pencil always-hide" data-bind="css: { 'always-hide': !$data.hasEditIcon()  }"></span>
            <!-- /ko -->
        </a>
    </li>
</ol>
<!-- /ko -->
