<ul id="BusinessProcessBadgeWrapper">
    <li class="BusinessProcessBadgeItem0"></li>
    <li class="BusinessProcessBadgeItem1"></li>
    <li class="BusinessProcessBadgeItem2"></li>
    <li class="BusinessProcessBadgeItem3"></li>
    <li class="BusinessProcessBadgeItem4"></li>
    <li class="BusinessProcessBadgeItem5"></li>
    <li class="BusinessProcessBadgeItem6"></li>
    <li class="BusinessProcessBadgeItem7"></li>
</ul>