@{
    var logoLinkAction = this.Model != null ? this.Model : Url.Action("SearchPage", "Search");
}
<div class="Logo">
    <a id="Logo" href="@logoLinkAction">
        <img alt="" src="@Url.Content("~/images/master/ic_home-5-fill.svg")" height="20" />
    </a>
</div>

