@{ 
    var logoLinkAction = this.Model != null ? this.Model : Url.Action("SearchPage", "Search");
}

<a id="Logo" href="@logoLinkAction">
    <img alt="" src="@Url.Content("~/images/master/ealogo.svg")" height="29" />
</a>
