@using EveryAngle.Shared.Globalization
@using System.Threading;

<div id="UserPanel">
    <ul>
        <li>
            <a id="Help" onclick="userSettingsView.ToggleMenuHelp();">
                <span id="HelpIcon"></span>
            </a>
        </li>

        <li>
            <a id="UserControl" onclick="userSettingsView.ToggleMenu();">
                <span class="icon arrowDown"></span>
                <span id="UserControlName" class="textEllipsis"></span>
            </a>
        </li>
    </ul>

    <div class="k-window-titleless k-window-custom k-window-arrow-n popupUserMenu" id="UserMenu">
        <div class="k-window-content k-content">
            @{
                string administratorPath = EveryAngle.Shared.Helpers.WebConfigHelper.GetAppSettingByKey("ManagementConsoleUrl");
                if (!administratorPath.StartsWith("http"))
                {
                    administratorPath = Url.Content("~/") + administratorPath;
                }
                <a class="actionDropdownItem btnMC" target="_blank" href="@administratorPath.ToLower()"><span data-bind="text: Localization.SearchPageManagementConsole"></span></a>
            }
            <a class="actionDropdownItem btnSettings" onclick="userSettingsHandler.ShowPopup()"><span data-bind="text: Localization.Settings"></span></a>
            <a class="actionDropdownItem btnChangePassword" onclick="userPasswordHandler.ShowPopup()"><span data-bind="text: Localization.ChangePassword"></span></a>
            <a class="actionDropdownItem btnLogout" onclick="WC.Authentication.Logout()"><span data-bind="text: Localization.Logout"></span></a>
        </div>
    </div>

    <div class="k-window-titleless k-window-custom k-window-arrow-n popupHelpMenu" id="HelpMenu">
        <div class="k-window-content k-content">
            @{
                string webLanguage = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
                string helpUri = "~/Data/Help/" + webLanguage + "/index.htm";
            }
            <a class="actionDropdownItem btnHelp" target="_blank" href="@Url.Content(helpUri)"><span data-bind="text: Localization.Helppage"></span></a>
            <a class="actionDropdownItem btnModelParameters" onclick="helpPopupPageHandler.ShowModelParameterPopup()"><span data-bind="text: Localization.ModelParameters"></span></a>
            <a class="actionDropdownItem btnAbout" onclick="aboutSystemHandler.ShowAboutSystemPopup()"><span data-bind="html: Localization.AboutEveryAngle"></span></a>
        </div>
    </div>
</div>
