@using EveryAngle.Shared.Globalization;
    <div id="UserPanel">
            <div class="Settings">
                <a id="Settings" onclick="userSettingsView.ToggleSettings();">
                    <span id="SettingsIcon"
                          data-role="tooltip" data-tooltip-position="right" data-tooltip-text="@Resource.Settings"
                          class="icon icon-gear"></span>
                </a>
            </div>
            <div class="Help">
                <a id="Help" onclick="userSettingsView.ToggleMenuHelp();">
                    <span id="HelpIcon"
                          data-role="tooltip" data-tooltip-position="right" data-tooltip-text="@Resource.Help"
                          class="icon"></span>
                </a>
            </div>
            <div class="NotificationsFeed disabled">
                <a id="NotificationsFeed"
                   data-role="tooltip" data-tooltip-position="right" data-tooltip-text="@Resource.NotificationsFeed_Updates"
                   href="javascript:void(0)">
                </a>
            </div>
            <div class="UserControl">
                <a id="UserControl" onclick="userSettingsView.ToggleMenu();"
                   data-role="tooltip" data-tooltip-position="right" data-tooltip-text="@Resource.MoreActions">
                    <span id="UserControlName"></span>
                </a>
            </div>
    </div> 