@using EveryAngle.Shared.Globalization
@using System.Threading;

<div id="UserPanel">

    <ul>
        <li>
            <a id="Help" onclick="userSettingsView.ToggleMenuHelp();">
                <span id="HelpIcon"></span>
            </a>
        </li>

        <li>
            <a id="UserControl" onclick="userSettingsView.ToggleMenu();">
                <p id="UserPanelItem">
                    <span id="UserControlName" class="name" title=""></span>
                    <span id="UserControlDownChevron"></span>
                </p>
            </a>
        </li>
    </ul>

    @{Html.RenderAction("UserMenu", "Menu", new { isVisible = false });}
</div>
