@model EveryAngle.Core.ViewModels.Model.Setting

<label data-role="tooltip">@Model.Name</label>
<p>
@{
    @(Html.Kendo().NumericTextBox()
        .Name(Model.Id)
        .Value(Convert.ToDouble(Model.Value))
        .Min(Model.Min == null ? (double?)null : Convert.ToDouble(Model.Min))
        .Max(Model.Max == null ? (double?)null : Convert.ToDouble(Model.Max))
        .HtmlAttributes(new { @class = "double autosyncinput", @data_setting_type = "double", @data_type = "kendoNumericTextBox" }));

    if (Model.Description != null)
    {
        <a data-target="#popupDescriptionTemplate" title="Description" data-width="600" data-min-height="100" data-role="mcPopup" class="btn btnInfo" onclick='MC.util.showDescriptionPopup(this)'></a>
        <textarea class="alwaysHidden"><pre>@Model.Description</pre></textarea>
    }
}
</p>