/* #SelectedDisplay
============================================ */
.SelectedDisplayPointer {
    position: absolute;
    top: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    cursor: pointer;
}

.SelectedDisplayItem {
    display: flex;
    align-items: center;
    height: 35px;
    position: absolute;
    width: 278px;
    background-color: #fff;
    border-right: 1px solid #c5c5c5;
    box-sizing: border-box;
    padding-bottom: 2px;
    padding-left: 5px;
}

.SelectedDisplayIcon {
    background: transparent url('../../images/icons/icon_arrow_down.svg') center center no-repeat;
    position: absolute;
    z-index: 10;
    width: 10px;
    height: 10px;
    right: 15px;
    top: 50%;
    margin-top: -5px;
}

#DisplayListSelection {
    position: relative;
    left: -1px;
    top: 35px;
    z-index: 8;
    width: 326px;
    padding: 0 4px 4px 0;
    overflow-y: hidden;
    display: none;
    box-sizing: border-box;
}

.DisplayItemListContainer {
    position: relative;
    top: -539px;
    max-height: 539px;
    overflow: auto;
    border: 1px solid #c5c5c5;
    border-bottom-width: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
}

.DisplayItemList {
    border-top: 1px solid #c5c5c5;
}

.DisplayItemList:first-child {
    border-top: 0;
}

.DisplayOption,
.ItemList {
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;
    color: #2e2e2e;
    border: none;
    border-bottom: 1px solid #c5c5c5;
    border-radius: 0;
    line-height: 1.4;
    background-color: #fff;
    height: 36px;
    overflow: hidden;
    box-sizing: border-box;
}

.ItemList {
    cursor: pointer;
    padding-bottom: 2px;
    padding-left: 5px;
}

.ItemList:hover,
.ItemListSelected {
    background-color: #f0f0f0;
}

.ItemList .displayNameContainer {
    margin-right: 50px;
    margin-left: 5px;
}

.SelectedDisplayItem .displayNameContainer,
.ItemList .displayNameContainer {
    height: 35px;
}

.SelectedDisplayItem .displayNameContainer {
    margin-left: 5px;
}

.SelectedDisplayItem .displayNameContainer .name,
.ItemList .displayNameContainer .name {
    top: 2px
}

.SelectedDisplayItem .displayNameContainer .icon.new {
    background-size: 14px 14px;
}

.DisplayOption .btn-keep-filter {
    display: flex;
    width: 32px;
}
.DisplayOption .btn-keep-filter:before {
    margin: auto;
}

.DisplayOption > label {
    display: block;
    font-size: 12px;
    color: #666666;
    font-weight: bold;
    flex-grow: 1;
}

.DisplayOption input[type="checkbox"]:not(:checked),
.DisplayOption input[type="checkbox"]:checked {
    right: 7px;
    top: 0;
    left: auto;
}

.DisplayOption input[type="checkbox"]:not(:checked) + .label,
.DisplayOption input[type="checkbox"]:checked + .label {
    position: absolute;
    right: -4px;
    top: 0;
}

.ItemList .selectStatus {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    height: 16px;
    background: transparent url('../../images/dropdown_check.png') left top no-repeat;
}

.SelectedDisplayItem .disabled,
.ItemList .disabled {
    opacity: .2;
}

.ItemListSelected .selectStatus {
    background-image: url('../../images/dropdown_check_active.png');
}

.ItemList .btnDelete {
    display: none;
    font-size: 14px;
    color: #78909c;
    position: absolute;
    right: 32px;
    top: 11px;
}

.safari.touch .ItemList .btnDelete,
.ItemList:hover .btnDelete {
    display: block;
}

.safari.touch .ItemList .btnDelete.disabled,
.ItemList .btnDelete.disabled,
.ItemList:hover .btnDelete.disabled {
    display: none;
}
