/* Angle Page
============================================ */
.topBarWrapper {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-width: 762px;
    background: #fafcfc;
    color: #666;
}

.topBarWrapper .Wrapper {
    height: 48px;
}

.listDrilldown #AngleTopBar.topBarWrapper #Logo {
    margin-left: 15px;
}

.toolbar {
    flex-wrap: wrap;
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
    min-height: 40px;
    padding: 5px 10px;
    box-sizing: border-box;

    .col-breadcrumb {
        order: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .col-action {
        order: 3;
        position: relative;
        display: flex;
        padding-right: 0;
        margin-left: auto;
    }

    .col-saving {
        order: 4;
        padding-left: 0;
    }

    .col-states {
        order: 5;
        padding-left: 0;
    }

    .col-break {
        order: 2;

        &.hidden ~ .form-col {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.saving-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 10px;

    &.savable:hover {
        box-shadow: 0 1px 2px 0 rgba(8, 35, 48, 0.24), 0 2px 6px 0 rgba(8, 35, 48, .16);
        border-radius: 2px;
    }

    &.disabled {
        display: none;
    }

    .btn {
        margin: 0;
        white-space: nowrap;
        width: 100%;

        span {
            width: 100%;
        }
    }

    .btn-main-saving {
        &:after,
        &:not(.btn-split) + .btn-saving-options {
            display: none;
        }
    }

    .btn-saving-options {
        padding-left: 7px;
    }

    .saving-options {
        display: none;
        position: absolute;
        right: 0;
        top: 100%;
        min-width: 100%;
        z-index: 1000;
        overflow: hidden;
        padding: 5px;

        .listview-item {
            cursor: pointer;

            &.disabled {
                cursor: default;
            }
        }
    }
}

.saving-wrapper-mirror {
    position: absolute;
    z-index: 10001;
    margin-left: 0;

    .btn span {
        width: 100%;
    }
}

.informationDetailPanel {
    position: relative;
    top: 6px;
    left: 4px;
    margin-right: 360px;
    padding-left: 10px;
    height: 24px;
    color: #006f9b;
    font-size: 16px;
    box-sizing: border-box;
}

.informationDetailPanel:hover {
    color: #0090c9;
}

.informationDetailPanel .Name,
.informationDetailPanel .detailName {
    top: -1px;
    max-width: calc(100% - 90px);
}

/* #ActionSelect
============================================ */
#ActionSelect.compactMode {
    margin-left: auto;
}

#ActionSelect .actionDropdownItem {
    background-color: #fff;
    margin-left: 3px;

    &:before {
        background-position: center center;
        background-size: 18px 18px;
    }

    &.save:before {
        background-image: url('../../images/angle/actiondropdownlist/save.svg');
    }

    &.save:not(.disabled):hover:before {
        background-image: url('../../images/angle/actiondropdownlist/save_hover.svg');
    }

    &.saveAs:before {
        background-image: url('../../images/angle/actiondropdownlist/saveas.svg');
    }

    &.saveAs:not(.disabled):hover:before {
        background-image: url('../../images/angle/actiondropdownlist/saveas_hover.svg');
    }

    &.copydisplay:before {
        background-image: url('../../images/angle/actiondropdownlist/copydisplay.svg');
    }

    &.copydisplay:not(.disabled):hover:before {
        background-image: url('../../images/angle/actiondropdownlist/copydisplay_hover.svg');
    }

    &.pastedisplay:before {
        background-image: url('../../images/angle/actiondropdownlist/pastedisplay.svg');
    }

    &.pastedisplay:not(.disabled):hover:before {
        background-image: url('../../images/angle/actiondropdownlist/pastedisplay_hover.svg');
    }

    &.editDisplay:before {
        background-image: url('../../images/angle/actiondropdownlist/editdisplay.svg');
    }

    &.editDisplay:not(.disabled):hover:before {
        background-image: url('../../images/angle/actiondropdownlist/editdisplay_hover.svg');
    }

    &.newDisplay:before {
        background-image: url('../../images/angle/actiondropdownlist/createdisplay.svg');
    }

    &.newDisplay:not(.disabled):hover:before {
        background-image: url('../../images/angle/actiondropdownlist/createdisplay_hover.svg');
    }

    &.createList:before {
        background-image: url('../../images/icons/icon_list_addnew.svg');
    }

    &.createList:not(.disabled):hover:before {
        background-image: url('../../images/icons/icon_list_addnew_hover.svg');
    }

    &.createChart:before {
        background-image: url('../../images/icons/icon_chart_addnew.svg');
    }

    &.createChart:not(.disabled):hover:before {
        background-image: url('../../images/icons/icon_chart_addnew_hover.svg');
    }

    &.createPivot:before {
        background-image: url('../../images/icons/icon_pivot_addnew.svg');
    }

    &.createPivot:not(.disabled):hover:before {
        background-image: url('../../images/icons/icon_pivot_addnew_hover.svg');
    }

    &.exportToExcel:before {
        background-image: url('../../images/angle/actiondropdownlist/exporttoexcel.svg');
    }

    &.exportToExcel:not(.disabled):hover:before {
        background-image: url('../../images/angle/actiondropdownlist/exporttoexcel_hover.svg');
    }

    &.exportToCSV:before {
        background-image: url('../../images/angle/actiondropdownlist/exporttocsv.svg');
    }

    &.exportToCSV:not(.disabled):hover:before {
        background-image: url('../../images/angle/actiondropdownlist/exporttocsv_hover.svg');
    }

    &.addToDashboard:before {
        background-image: url('../../images/angle/actiondropdownlist/addtodashboard.svg');
    }

    &.addToDashboard:not(.disabled):hover:before {
        background-image: url('../../images/angle/actiondropdownlist/addtodashboard_hover.svg');
    }

    &.addFollowup:before {
        background-image: url('../../images/icons/icon_followup_addnew.svg');
    }

    &.addFollowup:not(.disabled):hover:before {
        background-image: url('../../images/icons/icon_followup_addnew_hover.svg');
    }

    &.scheduleAngle:before {
        background-image: url('../../images/icons/icon_schedule.svg');
    }

    &.scheduleAngle:not(.disabled):hover:before {
        background-image: url('../../images/icons/icon_schedule_hover.svg');
    }

    &.find:before {
        background-image: url('../../images/angle/actiondropdownlist/find.svg');
    }

    &.find:not(.disabled):hover:before {
        background-image: url('../../images/angle/actiondropdownlist/find_hover.svg');
    }

    &.exitEditMode:before {
        background-image: url('../../images/icons/icon_execute.svg');
    }

    &.exitEditMode:not(.disabled):hover:before {
        background-image: url('../../images/icons/icon_execute_hover.svg');
    }

    &.download {
        margin-left: 10px;

        &:before {
            background-image: url('../../images/icons/icon_download_angle.svg');
            background-size: 20px 20px;
        }

        &:not(.disabled):hover:before {
            background-image: url('../../images/icons/icon_download_angle_hover.svg');
        }

        &:after {
            content: '';
            position: absolute;
            left: -5px;
            top: 3px;
            height: 18px;
            width: 0;
            border-left: 1px solid #cbcbcb;
        }
    }
}

/* .popupFindAngleResult
============================================ */
.popupFindAngleResult {
    width: 500px;
    height: 245px;
}

.popupFindAngleResult .k-window-content {
    overflow: visible;
    padding-right: 0;
    font-size: 12px;
}

#findPopupArea {
    overflow: hidden;
}

.findPopupOption {
    position: relative;
    margin: 0 15px 10px 0;
    overflow: hidden;
    min-height: 32px;
}

.popupFindAngleResult fieldset {
    float: left;
    width: 227px;
    border: 1px solid #8f8f8f;
    box-sizing: border-box;
}

.findPopupOptionText {
    padding-left: 120px;
    margin-right: 15px;
}

.findPopupOptionOther,
.findPopupOptionScope {
    height: 100px;
}

.findPopupOption .label {
    margin-bottom: 3px;
}

.findPopupOptionText label {
    position: absolute;
    line-height: 32px;
    left: 0;
    top: 0;
}

.popupFindAngleResult .k-dropdown {
    display: block;
    margin: 5px 0 0 22px;
    width: 178px;
}

/* .listFormatSettingPopup
============================================ */
.listFormatSettingPopup {
    height: auto;
}

.listFormatSettingPopup.inside {
    left: 160px !important; /* NOSONAR: override runtime css */
    top: 65px;
    height: auto;
}

.listFormatSettingPopup.inside:before,
.listFormatSettingPopup.inside:after {
    top: 160px;
}

.listFormatSettingPopupLeft.inside {
    left: -380px !important; /* NOSONAR: override runtime css */
}

.listFormatSettingPopup div.k-window-content {
    padding: 15px;
    font-size: 12px;
}

.listFormatSettingPopup .placeholder {
    color: #909191;
}

.FieldFormat {
    overflow: hidden;
    font-size: 12px;
    border-top: 1px solid #999;
    padding: 8px 0;
}

.FieldFormat:first-child {
    border-top: 0;
    padding-top: 0;
}

.FieldFormatList {
    margin-bottom: 15px;
}

.FieldFormatList .field {
    float: left;
    width: 90px;
    line-height: 28px;
}

.FieldFormatList .field > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.FieldFormatList .row {
    margin-top: 10px;
}

.FieldFormatList .row:first-child {
    margin-top: 0;
}

.FieldFormatList .input {
    margin-left: 100px;
}

.FieldFormatList .k-dropdown {
    width: 100%;
}

.FieldFormatCheckDefault > div {
    margin-bottom: 5px;
}

.ThousandSeperateWrapper {
    position: relative;
    overflow: hidden;
}

.ThousandSeperateWrapper .textStatus {
    position: relative;
    margin-left: 7px;
}

.UseAsDefaultWrapper .label + .label {
    position: relative;
    top: 1px;
    font-weight: bold;
}

/* .popupListFilter
============================================ */
.popupListFilter {
    height: auto;
}

.popupListFilter .k-window-content {
    min-height: 200px;
    font-size: 12px;
}

.popupListFilter .section-definition .definition-body {
    padding-left: 0;
    padding-right: 0;
}

.popupListFilter .definitionList {
    margin-bottom: 2px;
    max-height: none;
}

.popupListFilter .filterItem {
    margin-right: 0;
}

.popupListFilter .FilterHeader > .btnInfo {
    right: 10px;
    z-index: 100;
}

/* .popupAddToDashboard
============================================ */
.popupAddToDashboard {
    width: 300px;
    height: 200px;
}

.popupAddToDashboard .popupTabPanel > div {
    margin-bottom: 20px;
}

.popupAddToDashboard .popupTabPanel .field {
    margin-bottom: 5px;
    width: 100%;
    position: static;
    margin-top: 0;
}

.popupAddToDashboard .popupTabPanel .input {
    margin-bottom: 2px;
    margin-left: 0;
}

.popupAddToDashboard .k-dropdown {
    width: 100%;
}

.popupAddToDashboard .input .loader-spinner-inline {
    position: absolute;
    left: 5px;
    top: 10px;
}

/* .popupDisplayInfo
===================================== */
.popupDisplayInfo .k-window-title {
    width: 200px;
}

.popupDisplayInfo .sectionDefinitions {
    border-bottom-width: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* .popupDisplayDetail
===================================== */
.popupDisplayDetail .k-window-title {
    width: 200px;
}

.popupDisplayDetail h2 {
    color: #666666;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.displayPopupHeader {
    position: absolute;
    top: 2px;
    left: 215px;
    font-size: 14px;
}

.k-window-draggable .displayName {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    top: 5px;
    max-width: 550px;
}

.safari .k-window-draggable .displayName {
    top: 0;
}

.popupDisplayDetail .k-editor {
    height: 152px;
    z-index: 80;
}

.popupDisplayDetail .k-editor .k-editable-area {
    height: 55px;
}

.defaultDrilldownDisplay {
    width: 100%;
}

.popupDisplayDetail .definitionList {
    max-height: 390px;
}

.screenMinHeight .popupDisplayDetail .definitionList {
    max-height: 325px;
}

#DisplayFilterArea {
    position: relative;
}

#DisplayStatisticArea {
    position: relative;
}

#DisplayFilterMoveArea {
    position: absolute;
    left: 15px;
    top: 5px;
    right: 0;
    line-height: 50px;
    background-color: #b4b4b4;
    text-align: center;
    font-size: 18px;
    color: #383838;
    border: 3px dashed #d8d8d8;
    z-index: 1000;
}

#DisplayFilterMoveArea.focus {
    border-color: #383838;
}

#DisplayFilterMoveArea .filterItem {
    display: none;
}

/* .popupScheduleAngle
============================================ */
.popupScheduleAngle {
    height: auto;
}

.popupScheduleAngle .k-window-content {
    font-size: 12px;
}

.scheduleAngleArea {
    position: relative;
    margin-bottom: 5px;
}

.popupScheduleAngle .scheduleAngleArea .loader-spinner-inline {
    position: absolute;
    left: 5px;
    top: 5px;
}

.popupScheduleAngle .k-dropdown {
    width: 100%;
}

/* .context-menu
============================================ */
.context-menu {
    position: absolute;
    z-index: 1000;
    overflow: visible;
}

.context-menu.context-menu-root {
    width: 160px;
}

.context-menu .listview-item {
    cursor: pointer;
    position: relative;
    overflow: visible;
    min-height: 32px;
}

.context-menu .listview-item:hover {
    background-color: #fafafb;
}

.context-menu.hover .listview-item:not(:hover) {
    text-shadow: none;
}

.context-menu .listview-item.context-menu-submenu {
    cursor: default;
}

.context-menu span {
    display: block;
    min-height: 15px;
    padding-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 230px;
}

.context-menu .icon {
    width: 30px;
    margin-left: -5px;
}

.context-menu .btn-more {
    width: auto;
    margin-left: auto;
    transition-delay: 0s;
}

.context-menu .loader-spinner-inline {
    width: 10px;
    height: 10px;
    margin-right: 0;
}

.context-menu-submenu > .context-menu {
    top: -15px;
    left: 100%;
    right: auto;
    font-weight: normal;
    max-height: 307px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 50%;

    &.empty {
        top: 0;
    }
}

@import 'pages/angle-page';
