.breadcrumbDirectory {
    display: flex;
    margin: 0;
    padding: 0 0 0 10px;
    align-items: center;
    position: relative;
}

.breadcrumbItem {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
}

.breadcrumbLabel {
    color: #3d4852;
}

a.breadcrumbLink {
    color: #818181;
}
a.breadcrumbLink:hover {
    color: #358ed7;
    text-decoration: underline;
}

.icon-breadcrumb-home {
    margin-right: 10px;
    min-width: 10px;
}

.icon-breadcrumb-chevron {
    margin: 0 10px;
    min-width: 12px;
}

.icon-breadcrumb-validated {
    margin-left: 3px;
    color: #7dc855;
}
