@import '_variables.scss';

/* .btn
============================================ */
.btn,
.btn:link,
.btn:visited {
    -webkit-appearance: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    align-self: center;
    padding: 0 5px;
    border-radius: 2px;
    text-align: center;
    text-shadow: none;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    height: 28px;
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: normal;
    color: $primary-color;
    border: 1px solid transparent;
    box-shadow: none;
    transition: $animation;
}

.btn:hover {
    box-shadow: $box-shadow;
}

.btn-small {
    font-size: 13px;
    height: 24px;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited,
.btn-primary:hover {
    background-color: $primary-color;
    border-color: $primary-color;
    color: #fff;
}

.btn-primary:active,
.btn-primary.active {
    box-shadow: none;
}

.btn-secondary,
.btn-secondary:link,
.btn-secondary:visited,
.btn-secondary:hover {
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.btn-secondary:active,
.btn-secondary.active {
    box-shadow: none;
}

.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited,
.btn-ghost:hover {
    background-color: #f7f9fa;
    border-color: $primary-color;
}

.btn-ghost:active,
.btn-ghost.active {
    box-shadow: none;
}

.btn-success,
.btn-success:link,
.btn-success:visited,
.btn-success:hover {
    background-color: #dcf7e3;
    border-color: #dcf7e3;
    color: #7dc855;
}

.btn-success:active,
.btn-success.active {
    box-shadow: none;
}

.btn-light,
.btn-light:link,
.btn-light:visited,
.btn-light:hover {
    background-color: #f7f9fa;
    border-color: #f7f9fa;
}

.btn-light:active,
.btn-light.active {
    box-shadow: none;
}

.btn:after {
    display: block;
    content: '';
    background: transparent none left center no-repeat;
    position: absolute;
    top: 0;
    right: -5px;
    width: 30px;
    height: 100%;
}

.btn.executing,
.btn.executing:active,
.btn.executing:hover,
.btn.disabled,
.btn.disabled:active,
.btn.disabled:hover,
.btn[disabled],
.btn[disabled]:active,
.btn[disabled]:hover {
    cursor: default;
    box-shadow: none;
    opacity: .75;
}

.btn-busy,
.btn-busy,
.btn-busy:active,
.btn-busy:hover {
    cursor: default;
    box-shadow: none;
}

.btn span,
.btn-busy:before {
    min-width: 70px;
}

.btn-busy:before {
    content: attr(data-busy);
}

.btn-busy:after {
    right: 0;
    left: 0;
    width: 50%;
    background-color: #fff;
    opacity: .5;
    animation: busy 2s linear infinite;
}

.btn-primary.btn-busy:after {
    opacity: .2;
}

.btn-busy span {
    display: none;
}

.btn .icon {
    display: inline-flex;
}

@keyframes busy {
    0% {
        width: 0;
    }

    90% {
        width: 50%;
    }

    100% {
        width: 100%;
    }
}

.btn-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 10px 5px;
    box-sizing: border-box;

    &.btn-wrapper-popup {
        background-color: #f7f9fa;
        border-top: 1px dashed #d5d5d5;
        border-radius: 0 0 2px 2px;
    }

    .float-right {
        margin-left: auto;
    }

    .float-right + .float-right {
        margin-left: 5px;
    }
}