@import 'abstracts/mixins', 'abstracts/variables', 'abstracts/scrollbar';

@import 'vendors/jquery.scrollbar';

// fonts
@include font-face(Inter, "../fonts/Inter-Regular", 400, normal);
@include font-face(Inter, "../fonts/Inter-SemiBold", bold, normal);
@include font-face(Inter, "../fonts/Inter-medium", 500, normal);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $background-color;
}

html, body, input, textarea {
    font-family: $font-stack;
    color: $font-color;
    font-size: $font-size;
}

// placeholder
@include placeholder {
    color: #909191;
}

:focus {
    @include placeholder {
        color: transparent;
    }
}

hr {
    border: 0;
    border-top: 1px solid #e6e8e8;
}

label {
    position: relative;
}

a,
.cursorPointer,
.cursor-pointer {
    cursor: pointer;
}

a:link,
a:visited {
    text-decoration: none;
    color: #00f;
}

a:focus,
a:active {
    outline: none;
}

img {
    border: 0;
}

.Show {
    display: block;
}

.Hide,
.hidden {
    display: none;
}

.alwaysVisible,
.always-visible {
    display: block !important;
}

.alwaysHide,
.always-hide {
    display: none !important;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.visible-medium-viewport {
    display: block !important;
    width: 180px;
    height: 34px;
    padding-top: 4px;
}

.hide-medium-viewport {
    display: none !important;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

.flex-wrap {
    flex-wrap: wrap;
}

.textEllipsis,
.text-ellipsis {
    @include ellipsis;
}

.text-error {
    color: #ea3d2f;
}

.strike-through {
    text-decoration: line-through;
}

.scrollable {
    overflow: hidden !important;
}

.scrollable:hover,
.no-mouse .scrollable {
    overflow: auto !important;
}

.no-box-shadow {
    box-shadow: none !important;
}

.box-scrollable {
    overflow: auto !important;
    visibility: hidden !important;

    .no-mouse &,
    &:hover,
    > .box-scrollable-content {
        visibility: visible !important;
    }
}

.drop-area-cover {
    cursor: pointer;
    @include flex-center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: #78909c;
    background-color: $secondary-color;
    @include border-custom(dashed, #358ed7);

    &.focus {
        @include border-custom(solid, #358ed7);
    }
}

.no-animation,
.no-animation *,
.no-animation *:before,
.no-animation *:after {
    transition: none !important;
}

.animation-shake {
    animation: shake .82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.flip-x {
    transform: scaleX(-1);
}

.flip-y {
    transform: scaleY(-1);
}

.required {
    color: #e91e3d;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.infoText,
.info-text {
    font-size: 12px;
    color: #999;
}

.badge {
    position: absolute;
    background-color: $primary-color;
    color: #fff;
    font-size: 9px;
    line-height: 1;
    text-align: center;
    padding: 2px;
    border-radius: 6px;
    box-sizing: border-box;
}

@import 'layout/form-row';

/* .reportTable
============================================ */
.reportTable {
    border-collapse: collapse;
    width: 100%;

    th, td {
        font-size: 14px;
        border: 1px solid #c5c5c5;
        padding: 3px;
        text-align: center;
        font-weight: normal;
    }

    th {
        font-weight: bold;
    }
}

/* .tabMenuWrapper
============================================ */
.tabMenuWrapper {
    position: relative;
}

.tabMenu {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #e3e5e5;
}

.tabMenu li {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 1px;
    background-color: #fff;
    text-align: center;
    padding: 0 5px;
    margin-left: -1px;
    width: 110px;
    box-sizing: border-box;
    z-index: 2;
}

.tabMenu li:first-child {
    margin-left: 0;
}

.tabMenu li:hover {
    background-color: #eaeaea;
}

.tabMenu .active {
    cursor: default;
    background-color: #fff;
    border-bottom-color: #fff;
    z-index: 3;
    border-bottom: 2px solid #358ed7;
}

.tabMenu .disabled {
    cursor: default;
}

.tabMenu .disabled:hover {
    background-color: #fff;
}

.tabMenu .active.disabled:hover {
    background-color: #efefef;
}

.tabMenu li > span {
    display: table-cell;
    width: 107px;
    height: 40px;
    vertical-align: middle;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    text-shadow: none !important;
}

.tabMenu .active > span {
    color: #358ed7;
}

.tabMenu .disabled > span {
    color: #aaa;
}

.tabPanel {
    display: none;
    padding: 10px 0;
}

.tabPanel.active {
    display: block;
}

@import 'components/input';
@import 'components/button';
@import 'components/icons';

/* icons #2
============================================ */
.SignFavorite {
    cursor: pointer;
    margin: 0 0 0 2px;
    position: absolute;
    top: 8px;
    left: 19px;
    width: 20px;
    height: 20px;
    background: transparent url('../../images/searchpage/icn_starred_active.svg') center center no-repeat;
}

.SignFavoriteDisable {
    cursor: pointer;
    margin: 0 0 0 2px;
    position: absolute;
    top: 8px;
    left: 17px;
    background: transparent url('../../images/searchpage/icn_starred_inactive.svg') center center no-repeat;
    background-size: 16px 16px;
}

.SignFavorite.disabled,
.SignFavoriteDisable.disabled {
    cursor: default;
}

.SignPublic {
    cursor: default;
    margin: 0 0 0 2px;
    position: absolute;
    top: 7px;
    left: 42px;
    width: 20px;
    height: 20px;
    background-image: url('../../images/searchpage/icn_public.svg');
}

.SignPrivate {
    cursor: default;
    margin: 0 0 0 2px;
    position: absolute;
    top: 7px;
    left: 42px;
    width: 20px;
    height: 20px;
    background: transparent url(../../images/searchpage/icn_private.svg) center no-repeat;
    background-size: 18px 18px;
}

.SignValidated {
    cursor: default;
    display: inline-block;
    vertical-align: top;
    margin-left: 3px;
    position: relative;
    top: -1px;
    left: 0;
    width: 20px;
    height: 20px;
    background: url('../../images/searchpage/icn_validated.svg') no-repeat;
}

.SignValidated.gray {
    filter: grayscale(1);
}

.SignType1 {
    cursor: default;
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    position: relative;
    top: -1px;
    left: 1px;
    width: 20px;
    height: 20px;
    background: url('../../images/searchpage/icn_item_angle.svg') no-repeat;
}

.SignType2 {
    cursor: default;
    display: inline-block;
    vertical-align: top;
    padding-right: 3px;
    position: relative;
    top: -1px;
    left: 1px;
    width: 20px;
    height: 20px;
    background: url('../../images/searchpage/icn_item_template.svg') no-repeat;
}

.SignType3 {
    cursor: default;
    display: inline-block;
    vertical-align: top;
    padding-right: 3px;
    position: relative;
    top: -1px;
    left: 1px;
    width: 20px;
    height: 20px;
    background: url('../../images/searchpage/icn_item_dashboard.svg') no-repeat;
    background-size: 18px 18px;
}

/* Top bar
============================================ */
.Wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;

    @include respond-to(medium) {
        width: auto;
        min-width: 700px;
    }
}

#TopBar {
    background: linear-gradient(150.16deg, #02A84B 0%, #016841 100%);
    color: #fafcfc;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    position: absolute;
    width: 60px;

    .Wrapper {
        height: 48px;
    }
}

.Shadow {
    z-index: 1002;
    box-shadow: 0 0 6px rgba(0, 0, 0, .1) !important;
}

#Logo, #SearchLogo {
    display: inline-block;
    margin-top: 16px;
}


.Logo {
    height: 60px;
    width: 60px;
    text-align: center;
}

#BusinessProcessBadgeWrapper {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    list-style: none;
    display: flex;

    > li {
        flex-grow: 1;
    }
}

#UserPanel {
    position: fixed;
    @include calc-vh(height, 175px);
    bottom: 0;
    box-sizing: border-box;
    width: 60px;


    div {
        height: 60px;
        width: 60px;
        text-align: center;
        position: absolute;


        &.disabled {
            visibility: hidden;
        }

        a {
            font-size: 12px;
            color: #fafcfc;
            cursor: pointer;

            &:hover {
                color: #fafcfc;
            }

            &:not(#UserControl) .icon {
                display: block;
                width: 24px;
                height: 24px;
            }

            &:not(#UserControl) span {
                margin: 14px 0 0 18px;
            }
        }

        .notificationsFeedBadge {
            span {
                margin: 1px 0 !important;
            }
        }
    }

    .Help {
        top: 65px;
    }

    .NotificationsFeed {
        top: 130px;
    }

    .Settings {
        top: 5px;
    }

    .UserControl {
        background: rgba(0, 23, 55, 0.4);
        opacity: 1;
        bottom: 0;
    }
}

#UserControlName {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #FFFFFF;
    color: #278838;
    text-align: center;
    line-height: 32px;
    margin: 14px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
}

#UserControl {
    @include flex-center;
}

#HelpIcon {
    margin-left: 18px;
    background: transparent url('../../images/Icons/question-fill.svg') left center no-repeat;
}

/* .popupUserMenu
============================================ */
.popupUserMenu {
    bottom: 3%;
    top: auto;
    left: 60px;
    width: auto;
    min-width: 200px;
    max-width: 280px;
    display: none;
    box-shadow: 0px 10px 15px -3px rgba(0, 23, 55, 0.1), 0px 4px 6px -2px rgba(0, 23, 55, 0.05);
    border-radius: 4px;

    &:before, &:after {
        left: auto;
        right: 30px;
    }

    .k-window-content {
        overflow: hidden;
        padding-bottom: 25px;
        min-height: 0;
    }

    a {
        color: #000;

        &:hover {
            cursor: pointer;
        }

        span {
            padding-left: 0;
        }
    }

    .btn {
        text-align: left;
        margin: 0 0 10px 0;
        float: none;
        display: block;
    }

    .actionDropdownItem {
        &:before {
            background-position: center center;
        }

        &.btnMC:before {
            background-image: url('../../images/icons/icon_webclient.svg');
        }

        &.btnWorkbench:before {
            background-image: url('../../images/icons/icon_workbench.svg');
        }

        &.btnChangePassword:before {
            background-image: url('../../images/icons/icon_change_password.svg');
        }

        &.btnLogout:before {
            background-image: url('../../images/icons/icon_logout.svg');
        }
    }
}

/* .popupHelpMenu
============================================ */
.popupHelpMenu {
    top: 33%;
    left: 60px;
    width: 200px;
    display: none;
    z-index: 1000;
    box-shadow: 0px 10px 15px -3px rgba(0, 23, 55, 0.1), 0px 4px 6px -2px rgba(0, 23, 55, 0.05);
    border-radius: 4px;

    &:before, &:after {
        left: auto;
        right: 30px;
        z-index: 1000;
    }

    .k-window-content {
        overflow: hidden;
        padding-bottom: 25px;
    }

    .actionDropdownItem {
        color: #000;

        &:hover {
            cursor: pointer;
        }

        &:before {
            background-position: center;
        }

        &.btnAbout:before {
            background-image: url('../externalresource/icon_info.svg');
        }

        &.btnModelParameters:before {
            background-image: url('../../images/icons/icon_gear.svg');
        }

        &.btnHelp:before {
            background-image: url('../../images/icons/icon_help.svg');
        }

        &.btnSupport:before {
            background-image: url('../../Images/icons/icon_support.svg');
            background-size: 26px 27px;
        }

        &.btnAbout span {
            line-height: 31px;
        }

        span {
            padding-left: 0;
        }
    }
}

/* .searchBoxWrapper
============================================ */
.searchBoxWrapper {
    height: 40px;
    position: relative;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-right-width: 0;
    box-sizing: border-box;
    border-radius: 2px;

    &:hover {
        border-color: #025e7f;
        transition: .15s ease-in;
    }

    &:focus {
        border-color: #025e7f;
    }

    > a:hover {
        background: #024b65;
    }

    > input {
        position: absolute;
        margin: 0;
        padding: 0 79px 0 18px;
        width: 100%;
        height: 100%;
        color: #333;
        font-size: 14px;
        line-height: normal;
        text-align: left;
        background: none transparent;
        border: 0;
        outline-style: none;
        box-shadow: none;
        box-sizing: border-box;
        z-index: 1;
    }

    > a {
        display: block;
        height: 40px;
        right: 0;
        position: absolute;
        top: -1px;
        width: 57px;
        background-color: #025e7f;
        border-radius: 0 2px 2px 0;
        box-sizing: border-box;
        z-index: 2;

        &:before {
            content: '';
            background: transparent url('../../images/search-white.svg') center center no-repeat;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -10px;
            margin-top: -10px;
            height: 20px;
            width: 20px;
        }
    }
}

/* .popupTab
============================================ */
.popupWithTabMenu .k-window-content {
    padding-bottom: 0;
}

.popupTabMenu {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 199px;
    margin-top: -15px;
    margin-left: -15px;
    border-bottom: 1px solid #e6e6e6;
}

.popupTabMenu li {
    cursor: pointer;
    height: 44px;
    border-top: 1px solid #e6e6e6;
    background: #f9f9f9 url('../../images/icons/icon_arrow_right.svg') 99% center no-repeat;
    box-sizing: border-box;
    background-size: 16px 16px;
}

.popupTabMenu li:first-child {
    border-top: 0;
}

.popupTabMenu li:hover {
    background-color: #ffffff;
}

.popupTabMenu .Selected,
.popupTabMenu .Selected:hover {
    background-color: #eaeaea;
    background-image: url('../../images/icons/icon_arrow_right.svg');
}

.popupTabMenu li a {
    display: table-cell;
    vertical-align: middle;
    height: 45px;
    line-height: 16px;
    color: #333;
    font-size: 14px;
    text-decoration: none;
    padding: 0 16px;
    box-sizing: border-box;
}

.popupTabPanel {
    position: relative;
    color: #333333;
    font-size: 12px;
}

.popupWithTabMenu .popupTabPanel {
    border-left: 1px solid #e6e6e6;
    margin-top: -15px;
    margin-left: 184px;
    min-height: 100%;
    padding-bottom: 15px;
}

.no-touch.safari .popupTabPanel {
    height: auto;
}

.popupTabPanel > div {
    overflow: visible;
}

.popupWithTabMenu .popupTabPanel > div {
    display: none;
    padding: 15px 0 0 15px;
}

.popupTabPanel > div:before,
.popupTabPanel > div:after {
    display: table;
    content: '';
}

.popupTabPanel > div:after {
    clear: both;
}

.popupWithTabMenu .popupTabPanel > .Selected {
    display: block;
}

.popupTabPanel > div > h2,
.popupTabPanel h2 {
    color: #666666;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 10px 0;
}

.popupTabPanel .row {
    position: relative;
    min-height: 16px;
    margin-bottom: 5px;
}

.popupTabPanel .field {
    position: absolute;
    width: 130px;
    min-height: 1px;
    font-weight: bold;
    top: 50%;
    left: 0;
    margin-top: -12px;
    padding: 3px 0;
}

.popupTabPanel .field + .input {
    margin-left: 165px;
    padding: 3px 0;
}

.popupTabPanel .input {
    min-height: 1px;
    position: relative;
}

.popupTabPanel .input > label {
    display: inline-block;
}

/* .popupNotification
============================================ */
.popupNotification {
    width: 500px;
    height: 232px;
    min-height: 150px;
}

.screenMinHeight .popupNotification {
    max-height: 190px;
}

.popupNotification .notificationIcon {
    float: left;
    width: 30px;
    height: 20px;
    background: transparent none left top no-repeat;
}

.popupNotification .notificationIcon.alert {
    background-image: url('../../images/Icons/icon_warnings.svg');
}

.popupNotification .notificationIcon.error {
    background-image: url('../../images/popup/error/icn_error.png');
}

.popupNotification .notificationIcon.confirm {
    background-image: url('../../images/popup/error/icn_question.png');
}

.popupNotification .notificationIcon.info {
    background-image: url('../../images/popup/error/icn_info.png');
}

.popupNotification .notificationMessages {
    margin-left: 30px;
    color: #282828;
    font-size: 14px;
    line-height: 18px;
    word-wrap: break-word;
    height: 120px;
}

.popupNotification .notificationMessages ul {
    margin: 0 0 0 -15px;
}

.popupNotification .warningSession {
    padding-top: 10px;
}

.popupNotification .errorSource {
    display: block;
    word-wrap: break-word;
    padding-top: 5px;
    font-size: 10px;
    line-height: 12px;
}

.popupNotification .errorInfo {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 3px;
}

.popupNotification .errorInfo {
    margin-top: 15px;
    font-style: italic;
}

.popupNotification .errorInfo .btnErrorInfo {
    cursor: pointer;
    color: #00f;
}

.popupNotification .errorInfo .info {
    border-top: 1px solid #ccc;
    line-height: 16px;
    margin-top: 5px;
    padding-top: 5px;
    max-height: 55px;
    overflow: auto;
}

.popupNotification .errorInfo > span,
.popupNotification .errorInfo .less,
.popupNotification .errorInfo.show .more {
    display: none;
}

.popupNotification .errorInfo.show > span,
.popupNotification .errorInfo.show .less {
    display: block;
}

.popupNotification .errorInfo.show .errorSource {
    display: none;
    font-style: italic;
    text-align: right;
    padding-top: 0;
    margin-top: 0;
}

.popupNotification .notificationMessages .invalidMessages {
    font-size: 12px;
    margin-left: -20px;
    line-height: 15px;
}

.popupNotification .invalidMessages li {
    margin-bottom: 3px;
}

.popupNotification {
    box-shadow: 0px 10px 15px -3px rgba(0, 23, 55, 0.1), 0px 4px 6px -2px rgba(0, 23, 55, 0.05);
    border-radius: 3px;

    .k-window-titlebar {
        background: #FFFFFF;
        height: 70px;
    }

    .k-window-title {
        color: #001737;
        margin: 24px 0 24px 24px;
        font-weight: 600;
    }
}

.customTimeout i {
    font-size: 11px;
}

/* .areaErrorContainer
============================================ */
.areaErrorContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    font-size: 14px;
    z-index: 999;
}

.areaErrorMessage {
    padding: 5px;
}

.areaErrorRetryButton {
    display: inline;
    padding-left: 5px;
    color: #00d;
    text-decoration: underline;
}

/* .popupProgressBar
============================================ */
#PopupProgressBarwrapper + .k-overlay {
    display: block;
}

.k-window.popupProgressBar {
    display: block;
    width: 440px;
    height: 180px;
    left: 50% !important;
    top: 50% !important;
    padding-top: 41px;
    margin-left: -220px;
    margin-top: -100px;
    z-index: 10002;
}

.popupProgressBar .k-window-titlebar {
    margin-top: -41px;
}

.popupProgressBar .k-window-content {
    text-align: center;
    color: #1e1e1e;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 60px;
    overflow: hidden;
    border-radius: 0 0 2px 2px;
}

.popupProgressBar .k-window-content.km-scroll-wrapper {
    padding-bottom: 0;
}

#ProgressPercent {
    display: none;
}

#ProgressBar,
#ProgressBar .k-state-selected {
    background: transparent url('../../images/popup/progressbar/ajax-loader.gif') left top no-repeat;
}

#ProgressBar {
    margin: 25px auto 5px auto;
    position: relative;
    width: 220px;
    height: 19px;
}

#ProgressBar .k-progress-status-wrap {
    display: none;
}

#ProgressBar .k-state-selected {
    background-color: #ccc;
    background-position: left top;
}


#ProgressPercent {
    margin-bottom: 10px;
}

#ProgressText {
    margin-bottom: 10px;
}

.popupProgressBar .btn {
    position: absolute;
    left: 50%;
    margin-left: -45px;
    margin-right: 0;
    bottom: 15px;
}

/* #ActionSelect
============================================ */
#ActionSelect {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 97px;
    font-size: 12px;

    .k-dropdown {
        width: 180px;

        .k-input {
            height: 22px;
            line-height: 22px;
        }

        &.large .k-input {
            height: 30px;
            line-height: 30px;
        }

        .k-select {
            line-height: 22px;
        }

        &.large .k-select {
            line-height: 30px;
        }
    }

    .btnTools {
        margin: 0;
        height: 37px;
        top: 0;
        background-color: transparent;
        font-weight: bold;

        span {
            height: 35px;
            font-size: 12px;
            padding-right: 15px;
        }
    }
}

#ActionSelect.compactMode {
    position: relative;
    width: auto;
    top: 0;
    right: auto;

    &.disabled {
        visibility: hidden;
    }

    .btnTools {
        cursor: pointer;
        display: none;
        text-indent: -10000px;
        position: absolute;
        width: 30px;
        height: 25px;
        right: 0;
        top: 0;
        min-width: 0;
        background-image: url('../../images/icons/icon_meatballs.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px 14px;

        &.active {
            display: block;
        }

        &:after {
            right: 10px;
        }
    }
}

.popupAction {
    display: none;
    width: auto;
    min-width: 180px;
    max-width: 280px;
    right: 0;
    left: auto;
    top: 100%;
    margin-top: 5px;
    border-color: #c5c5c5;

    &:before, &:after {
        left: auto;
        right: 35px;
    }

    &:before {
        border-bottom-color: #fff;
    }

    .k-window-content {
        min-height: 0;
    }
}

.compactMode .popupAction {
    display: block !important;
    position: relative;
    max-width: none;
    min-width: 0;
    margin-top: 0;
    border-width: 0;
    background-color: transparent;
    box-shadow: none;

    &:before, &:after {
        display: none;
    }

    .k-window-content {
        border-radius: 0;
        background-color: transparent;
        overflow: visible;
    }
}

.actionDropdownItem {
    padding: 0 10px 0 45px;
    display: block;
    position: relative;
    height: 38px;
    line-height: 38px;
    color: #333333;
    font-size: 12px;
    @include ellipsis;
    box-sizing: border-box;

    &:hover, &.active {
        background-color: #fafafb;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 100%;
        background: transparent none 12px center no-repeat;
    }

    &.disabled:before, &.disabled:hover:before {
        opacity: .4;
    }
}

.compactMode .actionDropdownItem {
    float: left;
    top: 0;
    width: 30px;
    height: 24px;
    padding: 0;
    border-width: 0;
    overflow: visible;
    text-indent: -10000px;
    border-radius: 0;

    &:hover, &.active {
        background-color: inherit;
    }

    &:before {
        width: 100%;
        background-position: center center;
        transition: top 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    span {
        display: none;
    }
}

.compactMode .actionDropdownItem.more {
    visibility: hidden;
    position: absolute;
    right: 0;
    border: 1px solid #d1d1d1;
    border-top: 0;
    transition: none;
    height: 35px;

    &.first {
        border-top: 1px solid #d1d1d1;
    }

    &:hover {
        height: 35px;
    }
}

.compactMode .open .actionDropdownItem.more {
    visibility: visible;
}

.actionDropdownItem.disabled,
.actionDropdownItem.disabled:hover {
    cursor: default;
    color: #aaa;
    text-decoration: none;
    text-shadow: none !important;
    background-color: transparent;
    top: 0;
}

.compactMode .actionDropdownItem:hover:before {
    top: -5px;
}

.compactMode .actionDropdownItem.more:before,
.compactMode .actionDropdownItem.more:hover:before,
.compactMode .actionDropdownItem.disabled:before,
.compactMode .actionDropdownItem.disabled:hover:before {
    top: 0;
    transition: none;
}

$dropdown-item-height: 16px;

.k-list .actionDropdownItem {
    height: $dropdown-item-height;
    line-height: $dropdown-item-height;
    background-color: transparent;
    padding-left: 35px;
    margin: -2px;
    margin-top: 8px;

    &:before {
        width: 30px;
        height: $dropdown-item-height;
        background-position: 5px center;
    }

    &.selectAll:before {
        background-position: -3px center;
    }

    &.disabled:before {
        opacity: .4;
    }

    &.disabled:hover {
        height: $dropdown-item-height;
    }
}

$dropdown-large-item-height: 20px;

.k-list .actionDropdownItem.large {
    height: $dropdown-large-item-height;
    line-height: $dropdown-large-item-height;

    &:before {
        width: 30px;
        height: $dropdown-large-item-height;
    }

    &.disabled:hover {
        height: $dropdown-large-item-height;
    }
}

/* .InfoFocus
============================================ */
.InfoFocus {
    float: left;
    position: relative;
    margin: 0 5px 5px 0;
    padding: 0 0 0 12px;
    height: 22px;
    background-color: #555;
    border-radius: 12px;
    line-height: 22px;
    box-sizing: border-box;

    &.view {
        background-color: #ccc;
    }

    span {
        float: left;
        padding: 0 12px 0 0;
        min-width: 119px;
        color: #fff;
        font-size: 12px;
        font-weight: bold;

        &:first-child {
            max-width: 95px;
            @include ellipsis;
        }
    }
}

.none {
    display: none;
}

// components
@import 'components/block-overlay', 'components/breadcrumb', 'components/item-label', 'components/item-name', 'components/card', 'components/listview', 'components/multiple-select', 'components/accordion', 'components/switch', 'components/toastnotification', 'components/tab', 'components/description-editor', 'components/query-definition', 'components/query-aggregation', 'components/query-aggregation-format', 'components/query-aggregation-options', 'components/execution-parameter', 'components/display-tabs', 'components/popup_info', 'components/widget-definition';

@import 'layout/side-content';

.toggle-sidebar {
    height: 60px;
    width: 60px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    &:hover {
        /*border-radius: 50%;
        color: #fafcfc;
        top: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        background-color: $primary-color;*/
    }
}

/* .content-wrapper
============================================ */
.content-wrapper {
    opacity: 0;
    transition: $animation;
    background-color: #f7f7f7;
    @include calc-vh(height, 0px);
    border-width: 0;

    &.active {
        opacity: 1;
    }

    > .k-splitbar, > .k-ghost-splitbar {
        z-index: 3;
        width: 0;
        border-color: transparent;
        border-right-width: 0;
        background: transparent none;

        .k-resize-handle, .k-collapse-prev {
            display: none;
        }
    }

    &:not(.resizing):hover > .k-splitbar {
        width: 3px;
    }

    > .k-splitbar:hover, > .k-ghost-splitbar {
        border-left-width: 2px;
        border-color: #25cad2;
    }

    > .k-restricted-size-horizontal {
        border-color: #f54b5e;
    }

    .main-content {
        z-index: 2;
    }

    @include respond-to(medium) {
        min-width: 768px;
    }
}

.content-wrapper.toggling {
    > .k-splitbar {
        opacity: 0;
    }

    .main-content {
        transition: all .3s ease-in-out;
    }
}

.content-wrapper.full {
    .side-content {
        overflow: hidden;
    }

    > .k-splitbar {
        display: none;
    }

    .main-content {
        left: 0 !important;
        width: 100% !important;
        min-width: 760px;
    }
}

.description-editor-popup .k-window-content,
.save-as-popup .k-window-content {
    padding: 0;
}

.save-as-popup {
    .description-editor {
        margin-bottom: 10px;
    }

    .info-text {
        margin-top: 5px;
    }

    .row-warning {
        .form-col {
            @include flex-center;

            .icon {
                margin: -2px 5px 0 0;
            }
        }
    }
}

.model-selection-popup {
    .k-window-content {
        min-height: 70px;
    }

    .form-row {
        margin-left: -5px;
        margin-right: -5px;

        .form-col-header {
            width: auto;
        }

        .form-col-body {
            @include flex-center;

            .k-dropdown {
                width: 100px;
                flex-grow: 1;
            }
        }
    }
}

#AngleTagFilterContainer {
    width: 282px;
    height: 36px;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 2px;
    margin-top: 20px;

    &:hover {
        border-color: #358ed7;
        transition: .15s ease-in;
    }

    &:focus {
        border-color: #358ed7;
    }

    > input {
        position: relative;
        padding-left: 35px;
        padding-right: 65px;
        background: #f7f9fa url(../../images/search-grey.svg) 10px center no-repeat;
        background-size: 16px 16px;
        border-radius: 2px;
        transition: all .2s ease-in-out;
        margin: 0;
        width: 100%;
        height: 100%;
        color: #333;
        font-size: 14px;
        line-height: normal;
        text-align: left;
        border: 0;
        outline-style: none;
        box-shadow: none;
        box-sizing: border-box;
        z-index: 1;

        @include placeholder {
            font-size: 12px;
        }
    }

    > a.clearSearch {
        background-color: transparent;
        position: absolute;
        top: auto;
        right: 8px;
        bottom: 3px;
        color: #78909c;
        font-size: 9px;
        box-sizing: border-box;
        z-index: 2;
        border-radius: 50%;
        text-align: center;
        padding: 5px;

        &:hover,
        &:active {
            background-color: #ebebeb;
        }
    }
}

.no-tooltip {
    cursor: default;
}

.popupValidateBusinessProcess {
    .section-labels {
        .label-header {
            color: #78909c;
            font-style: italic;
            font-weight: normal;
            font-size: 11px;
            margin-bottom: 5px;
        }

        .label-group-header {
            font-size: 11px;
        }

        .labels-wrapper {
            border-radius: 2px;
            border: solid 1px #e9ecee;
            background-color: #ffffff;
            padding: 7px 2px 2px 7px;
            margin-bottom: 10px;
            min-height: 36px;
            box-sizing: border-box;

            .multiple-select-header {
                display: none;
            }

            .label-selection-message,
            .business-processes-selection-message {
                font-size: 11px;
            }
        }
    }
}

.popupValidateBusinessProcess .section-warning-message,
.save-as-popup .section-warning-message {
    background-color: rgba(255, 204, 203, 0.7);
    overflow-wrap: break-word;
    border-radius: 3px;
    color: #061c2b;
    letter-spacing: 0.25px;
}

.popupValidateBusinessProcess .card .card-header,
.save-as-popup .card .card-header {
    font-weight: normal;
    text-transform: none;
    font-size: 11px;
    letter-spacing: 0.5px;
}

/* Available via Gateway
============================================ */
#DisplayExternalId {
    display: block;
}

#ExternalId {
    width: 100%;
}

#SearchSidePanelButton {
    position: absolute;
    top: 10px;
}

#TitelText {
    height: 60px;
    width: 100%;
}

.SideBar-Icon {
    margin-left: 10px;
    margin-right: 10px;

    img {
        height: 20px;
        width: 20px;
        padding-top: 4px;
    }
}
 

.SideBar-Title {
    padding-left: 30px;
    font-weight: bold;
    letter-spacing: .24px;
}

#ActionSelect .Action-dropdown.large.k-widget.k-dropdown.k-dropdown-wrap:not(.k-state-disabled) {
    cursor: pointer;
    width: 180px;
    margin-left: 150px;
}