@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v19-latin-regular.eot") format("eot"), url("../fonts/roboto-v19-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v19-latin-regular.woff") format("woff"), url("../fonts/roboto-v19-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v19-latin-regular.svg#Roboto") format("svg"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/roboto-v19-latin-500.eot") format("eot"), url("../fonts/roboto-v19-latin-500.woff2") format("woff2"), url("../fonts/roboto-v19-latin-500.woff") format("woff"), url("../fonts/roboto-v19-latin-500.ttf") format("truetype"), url("../fonts/roboto-v19-latin-500.svg#Roboto") format("svg"); }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff; }

html, body, input, textarea {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif, Tahoma;
  color: #5e6366;
  font-size: 12px; }

/* scrollbar */
.ie html, .ie body {
  /* for IE */
  scrollbar-track-color: #ececec;
  scrollbar-face-color: #c1c1c1;
  scrollbar-shadow-color: #c1c1c1;
  scrollbar-highlight-color: #c1c1c1;
  scrollbar-3dlight-color: #c1c1c1;
  scrollbar-darkshadow-color: #c1c1c1; }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-button {
  width: 0;
  height: 0; }

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border: 0;
  border-radius: 0; }

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd; }

::-webkit-scrollbar-thumb:active {
  background: #dadada; }

::-webkit-scrollbar-track {
  background: #ececec;
  border: 0;
  border-radius: 0; }

::-webkit-scrollbar-track:hover {
  background: #d8d8d8; }

::-webkit-scrollbar-track:active {
  background: #f7f7f7; }

::-webkit-scrollbar-corner {
  background: transparent; }

::-webkit-input-placeholder {
  color: #909191; }

:-moz-placeholder {
  opacity: 1;
  color: #909191; }

::-moz-placeholder {
  opacity: 1;
  color: #909191; }

:-ms-input-placeholder {
  color: #909191; }

.placeholder {
  color: #909191; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  opacity: 1;
  color: transparent; }

:focus::-moz-placeholder {
  opacity: 1;
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

:focus.placeholder {
  color: transparent; }

input::-ms-clear {
  display: none; }

input:disabled,
textarea:disabled {
  cursor: default;
  opacity: .7; }

hr {
  border: 0;
  border-top: 1px solid #e6e8e8; }

label {
  position: relative; }

a,
.cursorPointer {
  cursor: pointer; }

a:link,
a:visited {
  text-decoration: none;
  color: #00f; }

a:focus,
a:active {
  outline: none; }

img {
  border: 0; }

.Show {
  display: block; }

.Hide {
  display: none; }

.alwaysVisible {
  display: block !important; }

.alwaysHide {
  display: none !important; }

.visible-medium-viewport {
  display: none !important; }
  @media (max-width: 979px) {
    .visible-medium-viewport {
      display: block !important; } }

.hide-medium-viewport {
  display: block !important; }
  @media (max-width: 979px) {
    .hide-medium-viewport {
      display: none !important; } }

.textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.strike-through {
  text-decoration: line-through; }

.scrollable {
  overflow: hidden !important; }

.scrollable:hover,
.no-mouse .scrollable {
  overflow: auto !important; }

.no-box-shadow {
  box-shadow: none !important; }

.box-scrollable {
  overflow: auto !important;
  visibility: hidden !important; }
  .no-mouse .box-scrollable, .box-scrollable:hover,
  .box-scrollable > .box-scrollable-content {
    visibility: visible !important; }

.no-animation,
.no-animation *,
.no-animation *:before,
.no-animation *:after {
  transition: none !important; }

.animation-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }

.flip-x {
  transform: scaleX(-1); }

.flip-y {
  transform: scaleY(-1); }

.required {
  color: #e91e3d; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

.infoText {
  font-size: 12px;
  color: #999; }

.badge {
  position: absolute;
  background-color: #358ed7;
  color: #fff;
  font-size: 9px;
  line-height: 1;
  text-align: center;
  padding: 2px;
  border-radius: 6px;
  box-sizing: border-box; }

input[type="text"],
input[type="password"],
textarea {
  -webkit-appearance: none;
  border: 1px solid #e3e5e5;
  background-color: #fff;
  border-radius: 0;
  padding: 5px;
  margin: 0;
  line-height: 16px;
  box-sizing: border-box; }

/* .form-row
============================================ */
.form-row {
  display: flex;
  align-items: center; }

.form-col {
  padding: 5px;
  box-sizing: border-box; }
  .form-col.float-left {
    margin-right: auto; }
  .form-col.float-right {
    margin-left: auto; }
  .form-col.form-col-header {
    flex-grow: 0;
    width: 100px;
    font-weight: bold; }
  .form-col.form-col-body {
    flex-grow: 1; }
  .form-col.form-col-half {
    width: 50%; }

/* .reportTable
============================================ */
.reportTable {
  border-collapse: collapse;
  width: 100%; }
  .reportTable th, .reportTable td {
    font-size: 14px;
    border: 1px solid #c5c5c5;
    padding: 3px;
    text-align: center;
    font-weight: normal; }
  .reportTable th {
    font-weight: bold; }

/* .tab
============================================ */
.tab {
  position: relative; }

.tabMenu {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #b3b3b3; }

.tabMenu li {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 1px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #c5c5c5;
  padding: 0 5px;
  margin-left: -1px;
  width: 110px;
  box-sizing: border-box;
  z-index: 2; }

.tabMenu li:first-child {
  margin-left: 0; }

.tabMenu li:hover {
  background-color: #eaeaea; }

.tabMenu .active {
  cursor: default;
  background-color: #fff;
  border-bottom-color: #fff;
  z-index: 3; }

.tabMenu .disabled {
  cursor: default; }

.tabMenu .disabled:hover {
  background-color: #fff; }

.tabMenu .active.disabled:hover {
  background-color: #efefef; }

.tabMenu li > span {
  display: table-cell;
  width: 120px;
  height: 40px;
  vertical-align: middle;
  color: #333;
  font-size: 11px;
  font-weight: bold;
  text-shadow: none !important; }

.tabMenu .disabled > span {
  color: #aaa; }

.tabPanel {
  display: none;
  padding: 10px 0; }

.tabPanel.active {
  display: block; }

/* .btn
============================================ */
.btn,
.btn:link,
.btn:visited {
  -webkit-appearance: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  align-self: center;
  padding: 0 5px;
  border-radius: 2px;
  text-align: center;
  text-shadow: none;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  height: 28px;
  outline: none;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  color: #358ed7;
  border: 1px solid transparent;
  box-shadow: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.btn:hover {
  box-shadow: 0 1px 2px 0 rgba(8, 35, 48, 0.24), 0 2px 6px 0 rgba(8, 35, 48, 0.16); }

.btn-small {
  font-size: 13px;
  height: 24px; }

.btn-primary,
.btn-primary:link,
.btn-primary:visited,
.btn-primary:hover {
  background-color: #358ed7;
  border-color: #358ed7;
  color: #fff; }

.btn-primary:active,
.btn-primary.active {
  box-shadow: none; }

.btn-secondary,
.btn-secondary:link,
.btn-secondary:visited,
.btn-secondary:hover {
  background-color: #e5efff;
  border-color: #e5efff; }

.btn-secondary:active,
.btn-secondary.active {
  box-shadow: none; }

.btn-ghost,
.btn-ghost:link,
.btn-ghost:visited,
.btn-ghost:hover {
  background-color: #f7f9fa;
  border-color: #358ed7; }

.btn-ghost:active,
.btn-ghost.active {
  box-shadow: none; }

.btn-success,
.btn-success:link,
.btn-success:visited,
.btn-success:hover {
  background-color: #dcf7e3;
  border-color: #dcf7e3;
  color: #7dc855; }

.btn-success:active,
.btn-success.active {
  box-shadow: none; }

.btn-light,
.btn-light:link,
.btn-light:visited,
.btn-light:hover {
  background-color: #f7f9fa;
  border-color: #f7f9fa; }

.btn-light:active,
.btn-light.active {
  box-shadow: none; }

.btn:after {
  display: block;
  content: '';
  background: transparent none left center no-repeat;
  position: absolute;
  top: 0;
  right: -5px;
  width: 30px;
  height: 100%; }

.btn.executing,
.btn.executing:active,
.btn.executing:hover,
.btn.disabled,
.btn.disabled:active,
.btn.disabled:hover,
.btn[disabled],
.btn[disabled]:active,
.btn[disabled]:hover {
  cursor: default;
  box-shadow: none;
  opacity: .75; }

.btn-busy,
.btn-busy,
.btn-busy:active,
.btn-busy:hover {
  cursor: default;
  box-shadow: none; }

.btn span,
.btn-busy:before {
  min-width: 70px; }

.btn-busy:before {
  content: attr(data-busy); }

.btn-busy:after {
  right: 0;
  left: 0;
  width: 50%;
  background-color: #fff;
  opacity: .5;
  animation: busy 2s linear infinite; }

.btn-primary.btn-busy:after {
  opacity: .2; }

.btn-busy span {
  display: none; }

.btn .icon {
  display: inline-flex; }

@keyframes busy {
  0% {
    width: 0; }
  90% {
    width: 50%; }
  100% {
    width: 100%; } }

.btn-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 10px 5px;
  box-sizing: border-box; }
  .btn-wrapper.btn-wrapper-popup {
    background-color: #f7f9fa;
    border-top: 1px dashed #d5d5d5;
    border-radius: 0 0 2px 2px; }
  .btn-wrapper .float-right {
    margin-left: auto; }
  .btn-wrapper .float-right + .float-right {
    margin-left: 5px; }

/* .icon
============================================ */
.icon {
  display: inline-block;
  font-family: 'WebClientIco';
  background: transparent none center top no-repeat;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-down:before {
  content: "\e900"; }

.icon-chevron-left:before {
  display: block;
  content: "\e900";
  transform: rotate(90deg); }

.icon-chevron-up:before {
  display: block;
  content: "\e900";
  transform: rotate(180deg); }

.icon-chevron-right:before {
  display: block;
  content: "\e900";
  transform: rotate(270deg); }

.icon-caret-down:before {
  content: "\e901"; }

.icon-caret-left:before {
  display: block;
  content: "\e901";
  transform: rotate(90deg); }

.icon-caret-up:before {
  display: block;
  content: "\e901";
  transform: rotate(180deg); }

.icon-caret-right:before {
  display: block;
  content: "\e901";
  transform: rotate(270deg); }

.icon-download:before {
  content: "\e902"; }

.icon-close:before {
  content: "\e903"; }

.icon-link:before {
  content: "\e904"; }

.icon-maximize:before {
  content: "\e905"; }

.icon-minimize:before {
  content: "\e906"; }

.icon-info:before {
  content: "\e907"; }

.icon-info {
  color: #34495e; }

.icon-angle:before {
  content: "\e908"; }

.icon-template:before {
  content: '';
  display: inline-block;
  background: transparent url("../../images/searchpage/icn_item_template.svg") center center no-repeat;
  background-size: 18px 18px;
  width: 14px;
  height: 14px;
  margin: auto; }

.icon-dashboard:before {
  content: '';
  display: inline-block;
  background: transparent url(../../images/searchpage/icn_item_dashboard.svg) center center no-repeat;
  background-size: 14px 14px;
  width: 14px;
  height: 14px;
  margin: auto; }

.icon-bin:before {
  content: "\e909"; }

.icon-parameterized:before {
  content: "\e90a"; }

.icon-filter:before {
  content: "\e90b"; }

.icon-no-filter:before {
  content: "\e90b";
  opacity: .2; }

.icon-followup:before {
  content: "\e90c"; }

.icon-list:before {
  content: "\e90d"; }

.icon-chart:before {
  content: "\e90e"; }

.icon-pivot:before {
  content: "\e90f"; }

.icon-private:before {
  content: "\e910"; }

.icon-public:before {
  content: "\e911"; }

.icon-validated:before {
  content: "\e912"; }

.icon-plus:before {
  content: "\e913"; }

.icon-star-active:before {
  content: "\e914"; }

.icon-star-inactive:before {
  content: "\e915"; }

.icon.new {
  width: 25px;
  background: transparent url(../../images/angle/actiondropdownlist/pastedisplay.svg) center no-repeat;
  background-size: 18px 18px; }

.icon.list,
.icon.chart,
.icon.pivot {
  position: relative;
  width: 24px;
  height: 24px;
  background-position: center center;
  background-size: 36px 36px; }

.icon.list {
  background-image: url("../../images/icons/icon_display_list.svg"); }

.icon.chart {
  background-image: url("../../images/icons/icon_display_chart.svg");
  background-size: 30px 30px; }

.icon.pivot {
  background-image: url("../../images/icons/icon_display_pivot.svg"); }

.icon.default:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px #78909c; }

.icon.schedule:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent url(../../images/icons/icon_schedule_small.png) right bottom no-repeat;
  background-size: 10px; }

.icon.dashboard {
  width: 25px;
  height: 25px;
  background-image: url("../../images/searchpage/icn_item_dashboard.svg"); }

.icon.public {
  width: 25px;
  height: 25px;
  background-image: url("../../images/searchpage/icn_public.svg");
  background-size: 20px 20px;
  background-position-y: 1px; }

.icon.private {
  width: 25px;
  height: 25px;
  background-image: url("../../images/searchpage/icn_private.svg");
  background-size: 16px 16px;
  background-position-y: 1px;
  top: -2px; }

.icon.filter,
.icon.noFilter {
  width: 25px;
  height: 25px;
  background-image: url("../../images/icons/icon_filter.svg");
  background-size: 16px 16px;
  background-position: center center; }

.icon.followup {
  width: 25px;
  height: 25px;
  background-image: url("../../images/icons/icon_followup_addnew.svg");
  background-size: 14px 16px; }

.icon.noFilter {
  opacity: .2; }

.icon.angle {
  width: 25px;
  height: 25px;
  background-image: url("../../images/searchpage/icn_item_angle.svg"); }

.icon.template {
  width: 25px;
  height: 25px;
  background-image: url("../../images/searchpage/icn_item_template.svg"); }

.icon.validated {
  background-image: url("../../images/searchpage/icn_validated.svg"); }

.icon.parameterized {
  background-image: url("../../images/icons/icon_execute.svg");
  background-position: center center;
  width: 22px;
  height: 25px; }

.icon.validWarning {
  display: inline-flex;
  content: '';
  width: 15px;
  height: 15px;
  background: url("../../images/icons/icon_warnings.svg") no-repeat center;
  background-size: 15px;
  border-radius: 50%;
  margin: auto; }

.icon.validError {
  display: inline-flex;
  content: '';
  width: 30px;
  height: 15px;
  background: url(../../images/icons/icon_error.svg) no-repeat center;
  background-size: 30px;
  margin: auto; }

.icon.add {
  background-image: url("../../images/icons/icon_plus.svg");
  background-position: center center;
  background-size: 10px 10px;
  width: 16px;
  height: 16px; }

.icon.remove {
  background-image: url("../../images/icons/icon_delete.svg");
  background-position: center center;
  background-size: 10px 10px;
  width: 16px;
  height: 16px; }

.icon.delete-red {
  background: transparent url("../../images/icons/icon_delete_red.svg") center center no-repeat;
  width: 12px;
  height: 12px; }

.icon.info {
    background: transparent url("../externalresource/icon_info.svg") center center no-repeat;
    width: 12px;
    height: 12px;
    background-size: 12px 12px; }

.icon.icon-create-angle {
  background: transparent url("../../images/icons/icon_create_angle_plus.svg") center center no-repeat;
  width: 16px;
  height: 16px; }

.icon-add-filter {
  width: 20px;
  height: 20px; }

.icon-add-filter:before {
  content: '';
  display: block;
  margin: auto;
  background: transparent url("../../images/icons/icon_filter_addnew.svg") center no-repeat;
  width: 18px;
  height: 16px; }

.icon-drilldown {
  background: transparent url("../../images/icons/icon_drilldown.svg") center center no-repeat;
  width: 20px;
  height: 20px; }

.icon-copy {
  background: transparent url("../../images/icons/icon_copy.svg") center center no-repeat;
  width: 20px;
  height: 20px;
  background-size: 20px 20px; }

.icon-sap {
  background: transparent url("../../images/icons/icon_sap.svg") center center no-repeat;
  width: 20px;
  height: 20px; }

.icon-home {
  background: url("../../images/icons/icon_home.svg") center/16px 16px no-repeat;
  width: 12px;
  height: 12px; }

/* icons #2
============================================ */
.SignFavorite {
  cursor: pointer;
  margin: 0 0 0 2px;
  position: absolute;
  top: 8px;
  left: 19px;
  width: 20px;
  height: 20px;
  background: transparent url("../../images/searchpage/icn_starred_active.svg") center center no-repeat; }

.SignFavoriteDisable {
  cursor: pointer;
  margin: 0 0 0 2px;
  position: absolute;
  top: 8px;
  left: 17px;
  background: transparent url("../../images/searchpage/icn_starred_inactive.svg") center center no-repeat;
  background-size: 16px 16px; }

.SignFavorite.disabled,
.SignFavoriteDisable.disabled {
  cursor: default; }

.SignPublic {
  cursor: default;
  margin: 0 0 0 2px;
  position: absolute;
  top: 7px;
  left: 42px;
  width: 20px;
  height: 20px;
  background-image: url("../../images/searchpage/icn_public.svg"); }

.SignPrivate {
  cursor: default;
  margin: 0 0 0 2px;
  position: absolute;
  top: 7px;
  left: 42px;
  width: 20px;
  height: 20px;
  background: transparent url(../../images/searchpage/icn_private.svg) center no-repeat;
  background-size: 18px 18px; }

.SignValidated {
  cursor: default;
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
  position: relative;
  top: -1px;
  left: 0;
  width: 20px;
  height: 20px;
  background: url("../../images/searchpage/icn_validated.svg") no-repeat; }

.SignValidated.gray {
  filter: grayscale(1); }

.SignType1 {
  cursor: default;
  display: inline-block;
  vertical-align: top;
  margin-left: 2px;
  position: relative;
  top: -1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background: url("../../images/searchpage/icn_item_angle.svg") no-repeat; }

.SignType2 {
  cursor: default;
  display: inline-block;
  vertical-align: top;
  padding-right: 3px;
  position: relative;
  top: -1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background: url("../../images/searchpage/icn_item_template.svg") no-repeat; }

.SignType3 {
  cursor: default;
  display: inline-block;
  vertical-align: top;
  padding-right: 3px;
  position: relative;
  top: -1px;
  left: 1px;
  width: 20px;
  height: 20px;
  background: url("../../images/searchpage/icn_item_dashboard.svg") no-repeat;
  background-size: 18px 18px; }

/* Top bar
============================================ */
.Wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 979px) {
    .Wrapper {
      width: auto;
      min-width: 700px; } }

#TopBar {
  background: #fafcfc;
  color: #666; }
  #TopBar .Wrapper {
    height: 48px; }

.Shadow {
  z-index: 1002;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1) !important; }

#Logo {
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block; }

#BusinessProcessBadgeWrapper {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  list-style: none; }
  #BusinessProcessBadgeWrapper > li {
    width: 12.5%;
    line-height: 0;
    height: 100%;
    float: left; }

#UserPanel {
  position: relative;
  float: right;
  height: 100%;
  padding-top: 6px;
  padding-right: 20px;
  box-sizing: border-box; }
  #UserPanel ul {
    display: table;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none; }
  #UserPanel li {
    vertical-align: middle;
    display: table-cell;
    padding: 0 5px; }
    #UserPanel li.disabled {
      visibility: hidden; }
    #UserPanel li:last-child {
      padding: 0 0 0 5px; }
    #UserPanel li a {
      font-size: 12px;
      color: #333;
      cursor: pointer; }
      #UserPanel li a:hover {
        color: #666; }
      #UserPanel li a:not(#UserControl) .icon {
        display: block;
        margin-top: -5px;
        width: 24px;
        height: 24px; }

#UserControlName {
  min-width: 50px;
  max-width: 100px;
  padding-right: 3px;
  letter-spacing: 0.2px;
  color: #3d4852;
  box-sizing: border-box; }

#UserControl {
  display: flex;
  align-items: center;
  margin-left: 5px; }

#HelpIcon {
  background: transparent url("../../images/master/help.svg") left center no-repeat; }

/* .popupUserMenu
============================================ */
.popupUserMenu {
  top: 48px;
  right: 5px;
  left: auto;
  width: auto;
  min-width: 200px;
  max-width: 280px;
  display: none; }
  .popupUserMenu:before, .popupUserMenu:after {
    left: auto;
    right: 30px; }
  .popupUserMenu .k-window-content {
    overflow: hidden;
    padding-bottom: 25px;
    min-height: 0; }
  .popupUserMenu a {
    color: #000; }
    .popupUserMenu a:hover {
      cursor: pointer; }
    .popupUserMenu a span {
      padding-left: 0; }
  .popupUserMenu .btn {
    text-align: left;
    margin: 0 0 10px 0;
    float: none;
    display: block; }
  .popupUserMenu .actionDropdownItem:before {
    background-position: center center; }
  .popupUserMenu .actionDropdownItem.btnMC:before {
    background-image: url("../../images/icons/icon_webclient.png");
    background-position: 8px center; }
  .popupUserMenu .actionDropdownItem.btnWorkbench:before {
    background-image: url("../../images/icons/icon_workbench.svg");
    background-position: 4px center;
    width: 32px; }
  .popupUserMenu .actionDropdownItem.btnChangePassword:before {
    background-image: url("../../images/icons/icon_change_password.png"); }
  .popupUserMenu .actionDropdownItem.btnLogout:before {
    background-image: url("../../images/icons/icon_logout.png"); }

/* .popupHelpMenu
============================================ */
.popupHelpMenu {
  top: 48px;
  left: -110px;
  width: 200px;
  display: none; }
  .popupHelpMenu:before, .popupHelpMenu:after {
    left: auto;
    right: 30px; }
  .popupHelpMenu .k-window-content {
    overflow: hidden;
    padding-bottom: 25px; }
  .popupHelpMenu .actionDropdownItem {
    color: #000; }
    .popupHelpMenu .actionDropdownItem:hover {
      cursor: pointer; }
    .popupHelpMenu .actionDropdownItem:before {
      background-position: 12px 9px; }
    .popupHelpMenu .actionDropdownItem.btnAbout:before {
        background-image: url("../externalresource/icon_info.svg");
    }
    .popupHelpMenu .actionDropdownItem.btnModelParameters:before {
      background-image: url("../../images/icons/icon_gear.png"); }
    .popupHelpMenu .actionDropdownItem.btnHelp:before {
      background-image: url("../../images/icons/icon_help.png"); }
    .popupHelpMenu .actionDropdownItem.btnAbout span {
      line-height: 31px; }
    .popupHelpMenu .actionDropdownItem span {
      padding-left: 0; }

/* .searchBoxWrapper
============================================ */
.searchBoxWrapper {
  height: 40px;
  position: relative;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-right-width: 0;
  box-sizing: border-box;
  border-radius: 2px; }
  .searchBoxWrapper:hover {
    border-color: #025e7f;
    transition: .15s ease-in; }
  .searchBoxWrapper:focus {
    border-color: #025e7f; }
  .searchBoxWrapper > a:hover {
    background: #024b65; }
  .searchBoxWrapper > input {
    position: absolute;
    margin: 0;
    padding: 0 79px 0 18px;
    width: 100%;
    height: 100%;
    color: #909191;
    font-size: 14px;
    line-height: normal;
    text-align: left;
    background: none transparent;
    border: 0;
    outline-style: none;
    box-shadow: none;
    box-sizing: border-box;
    z-index: 1; }
  .searchBoxWrapper > a {
    display: block;
    height: 40px;
    right: 0;
    position: absolute;
    top: -1px;
    width: 57px;
    background-color: #025e7f;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
    z-index: 2; }
    .searchBoxWrapper > a:before {
      content: '';
      background: transparent url("../../images/search-white.svg") center center no-repeat;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -10px;
      margin-top: -10px;
      height: 20px;
      width: 20px; }

/* .popupTab
============================================ */
.popupWithTabMenu .k-window-content {
  padding-bottom: 0; }

.popupTabMenu {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  width: 199px;
  margin-top: -15px;
  margin-left: -15px;
  border-bottom: 1px solid #e6e6e6; }

.popupTabMenu li {
  cursor: pointer;
  height: 44px;
  border-top: 1px solid #e6e6e6;
  background: #f9f9f9 url("../../images/icons/icon_arrow_right.svg") 99% center no-repeat;
  box-sizing: border-box;
  background-size: 16px 16px; }

.popupTabMenu li:first-child {
  border-top: 0; }

.popupTabMenu li:hover {
  background-color: #ffffff; }

.popupTabMenu .Selected,
.popupTabMenu .Selected:hover {
  background-color: #eaeaea;
  background-image: url("../../images/icons/icon_arrow_right.svg"); }

.popupTabMenu li a {
  display: table-cell;
  vertical-align: middle;
  height: 45px;
  line-height: 16px;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  padding: 0 16px;
  box-sizing: border-box; }

.popupTabPanel {
  position: relative;
  color: #333333;
  font-size: 13px; }

.popupWithTabMenu .popupTabPanel {
  border-left: 1px solid #e6e6e6;
  margin-top: -15px;
  margin-left: 184px;
  min-height: 100%;
  padding-bottom: 15px; }

.no-touch.safari .popupTabPanel {
  height: auto; }

.popupTabPanel > div {
  overflow: visible; }

.popupWithTabMenu .popupTabPanel > div {
  display: none;
  padding: 15px 0 0 15px; }

.popupTabPanel > div:before,
.popupTabPanel > div:after {
  display: table;
  content: ''; }

.popupTabPanel > div:after {
  clear: both; }

.popupWithTabMenu .popupTabPanel > .Selected {
  display: block; }

.popupTabPanel > div > h2,
.popupTabPanel h2 {
  color: #666666;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px 0; }

.popupTabPanel .row {
  position: relative;
  min-height: 16px;
  margin-bottom: 5px; }

.popupTabPanel .field {
  position: absolute;
  width: 130px;
  min-height: 1px;
  font-weight: bold;
  top: 50%;
  left: 0;
  margin-top: -12px;
  padding: 3px 0; }

.popupTabPanel .field + .input {
  margin-left: 165px;
  padding: 3px 0; }

.popupTabPanel .input {
  min-height: 1px;
  position: relative; }

.popupTabPanel .input > label {
  display: inline-block; }

.popupTabPanel .input input {
  font-size: 11px; }

/* .popupNotification
============================================ */
.popupNotification {
  width: 430px;
  height: 269px;
  min-height: 150px;
  max-height: 150px; }

.screenMinHeight .popupNotification {
  max-height: 150px; }

.popupNotification .notificationIcon {
  float: left;
  width: 30px;
  height: 20px;
  background: transparent none left top no-repeat; }

.popupNotification .notificationIcon.alert {
  background-image: url("../../images/Icons/icon_warnings.svg"); }

.popupNotification .notificationIcon.error {
  background-image: url("../../images/popup/error/icn_error.png"); }

.popupNotification .notificationIcon.confirm {
  background-image: url("../../images/popup/error/icn_question.png"); }

.popupNotification .notificationIcon.info {
  background-image: url("../../images/popup/error/icn_info.png"); }

.popupNotification .notificationMessages {
  margin-left: 30px;
  color: #282828;
  font-size: 14px;
  line-height: 18px;
  word-wrap: break-word;
  height: 120px; }

.popupNotification .notificationMessages ul {
  margin: 0 0 0 -15px; }

.popupNotification .warningSession {
  padding-top: 10px; }

.popupNotification .errorSource {
  display: block;
  word-wrap: break-word;
  padding-top: 5px;
  font-size: 10px;
  line-height: 12px; }

.popupNotification .errorInfo {
  font-size: 11px;
  line-height: 13px;
  margin-bottom: 3px; }

.popupNotification .errorInfo {
  margin-top: 15px;
  font-style: italic; }

.popupNotification .errorInfo .btnErrorInfo {
  cursor: pointer;
  color: #00f; }

.popupNotification .errorInfo .info {
  border-top: 1px solid #ccc;
  line-height: 16px;
  margin-top: 5px;
  padding-top: 5px;
  max-height: 55px;
  overflow: auto; }

.popupNotification .errorInfo > span,
.popupNotification .errorInfo .less,
.popupNotification .errorInfo.show .more {
  display: none; }

.popupNotification .errorInfo.show > span,
.popupNotification .errorInfo.show .less {
  display: block; }

.popupNotification .errorInfo.show .errorSource {
  display: none;
  font-style: italic;
  text-align: right;
  padding-top: 0;
  margin-top: 0; }

.popupNotification .notificationMessages .invalidMessages {
  font-size: 12px;
  margin-left: -20px;
  line-height: 15px; }

.popupNotification .invalidMessages li {
  margin-bottom: 3px; }

.customTimeout i {
  font-size: 11px; }

/* .areaErrorContainer
============================================ */
.areaErrorContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  font-size: 14px;
  z-index: 999; }

.areaErrorMessage {
  padding: 5px; }

.areaErrorRetryButton {
  display: inline;
  padding-left: 3px;
  color: #00d;
  text-decoration: underline; }

/* .popupProgressBar
============================================ */
#PopupProgressBarwrapper + .k-overlay {
  display: block; }

.k-window.popupProgressBar {
  display: block;
  width: 440px;
  height: 180px;
  left: 50% !important;
  top: 50% !important;
  padding-top: 41px;
  margin-left: -220px;
  margin-top: -100px;
  z-index: 10002; }

.popupProgressBar .k-window-titlebar {
  margin-top: -41px; }

.popupProgressBar .k-window-content {
  text-align: center;
  color: #1e1e1e;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 60px;
  overflow: hidden;
  border-radius: 0 0 2px 2px; }

.popupProgressBar .k-window-content.km-scroll-wrapper {
  padding-bottom: 0; }

#ProgressPercent {
  display: none; }

#ProgressBar,
#ProgressBar .k-state-selected {
  background: transparent url("../../images/popup/progressbar/ajax-loader.gif") left top no-repeat; }

#ProgressBar {
  margin: 25px auto 5px auto;
  position: relative;
  width: 220px;
  height: 19px; }

#ProgressBar .k-progress-status-wrap {
  display: none; }

#ProgressBar .k-state-selected {
  background-color: #ccc;
  background-position: left top; }

#ProgressPercent {
  margin-bottom: 10px; }

#ProgressText {
  margin-bottom: 10px; }

.popupProgressBar .btn {
  position: absolute;
  left: 50%;
  margin-left: -45px;
  margin-right: 0;
  bottom: 15px; }

/* .displayNameContainer
=================================== */
.displayNameContainer {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 100px;
  height: 24px;
  box-sizing: border-box; }
  .displayNameContainer .front, .displayNameContainer .rear, .displayNameContainer .icon, .displayNameContainer .name {
    display: inline-flex;
    align-items: center;
    position: relative;
    height: 24px; }
  .displayNameContainer .icon {
    font-size: 14px;
    width: 24px;
    color: #78909c; }
    .displayNameContainer .icon:before {
      margin: auto; }
    .displayNameContainer .icon.icon-angle {
      color: #ff6c2c; }
    .displayNameContainer .icon.icon-validated {
      color: #7dc855; }
    .displayNameContainer .icon.icon-star-active:before, .displayNameContainer .icon.icon-star-inactive:before {
      color: #f3aa18; }
    .displayNameContainer .icon.validError {
      background-size: 30px 30px; }
    .displayNameContainer .icon.none {
      display: none; }
    .displayNameContainer .icon.icon-info {
      color: #34495e; }
  .displayNameContainer .name {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-indent: 0;
    min-width: 10px;
    height: auto;
    margin: 0 3px;
    top: 3px;
    box-sizing: border-box; }
    .displayNameContainer .name.displayName {
      padding-left: 8px; }

.displayNameContainer.small {
  height: 20px; }
  .displayNameContainer.small .front, .displayNameContainer.small .rear, .displayNameContainer.small .icon {
    height: 20px; }
  .displayNameContainer.small .icon {
    font-size: 12px;
    width: 20px; }
    .displayNameContainer.small .icon.icon-template:before {
      background-size: 17px 17px; }
    .displayNameContainer.small .icon.icon-dashboard:before {
      background-size: 14px 14px; }
    .displayNameContainer.small .icon.validWarning:before {
      background-size: 13px 13px;
      width: 13px;
      height: 13px; }
  .displayNameContainer.small .name {
    top: 1px; }

.displayNameContainer.large {
  height: 35px; }

.displayNameContainer .template {
  background-position: center center; }

.k-dropdown .displayNameContainer {
  margin-top: 3px; }

.k-item .displayNameContainer {
  margin: -2px -2px -2px -4px; }

/* #BackToSearch
============================================ */
#BackToSearch {
  display: block;
  position: absolute;
  top: 3px;
  left: 210px;
  color: #333;
  font-size: 12px; }
  #BackToSearch:hover {
    color: #666; }
  #BackToSearch > img {
    margin: 0 5px 0 0;
    position: relative;
    top: 6px;
    left: 0; }
  #BackToSearch > span {
    position: relative;
    top: -2px; }

/* #ActionSelect
============================================ */
#ActionSelect {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 97px;
  font-size: 12px; }
  #ActionSelect .k-dropdown {
    width: 180px; }
    #ActionSelect .k-dropdown .k-input {
      height: 22px;
      line-height: 22px; }
    #ActionSelect .k-dropdown.large .k-input {
      height: 30px;
      line-height: 30px; }
    #ActionSelect .k-dropdown .k-select {
      line-height: 22px; }
    #ActionSelect .k-dropdown.large .k-select {
      line-height: 30px; }
  #ActionSelect .btnTools {
    margin: 0;
    height: 37px;
    top: 0;
    background-color: transparent;
    font-weight: bold; }
    #ActionSelect .btnTools:after {
      width: 14px;
      height: 4px;
      top: 50%;
      right: 3px;
      margin-top: -2px; }
    #ActionSelect .btnTools.disabled:after {
      opacity: .5; }
    #ActionSelect .btnTools span {
      height: 35px;
      font-size: 12px;
      padding-right: 15px; }

#ActionSelect.compactMode {
  position: relative;
  width: auto;
  top: 0;
  right: auto; }
  #ActionSelect.compactMode.disabled {
    visibility: hidden; }
  #ActionSelect.compactMode .btnTools {
    cursor: pointer;
    display: none;
    text-indent: -10000px;
    position: absolute;
    width: 30px;
    height: 25px;
    right: 0;
    top: 0;
    min-width: 0;
    background-image: url("../../images/icons/icon_meatballs.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px 14px; }
    #ActionSelect.compactMode .btnTools.active {
      display: block; }
    #ActionSelect.compactMode .btnTools:after {
      right: 10px; }

.popupAction {
  display: none;
  width: auto;
  min-width: 180px;
  max-width: 280px;
  right: 0;
  left: auto;
  top: 100%;
  margin-top: 5px;
  border-color: #c5c5c5; }
  .popupAction:before, .popupAction:after {
    left: auto;
    right: 35px; }
  .popupAction:before {
    border-bottom-color: #fff; }
  .popupAction .k-window-content {
    min-height: 0; }

.compactMode .popupAction {
  display: block !important;
  position: relative;
  max-width: none;
  min-width: 0;
  margin-top: 0;
  border-width: 0;
  background-color: transparent;
  box-shadow: none; }
  .compactMode .popupAction:before, .compactMode .popupAction:after {
    display: none; }
  .compactMode .popupAction .k-window-content {
    border-radius: 0;
    background-color: transparent;
    overflow: visible; }

.actionDropdownItem {
  padding: 0 10px 0 45px;
  display: block;
  position: relative;
  height: 38px;
  line-height: 38px;
  color: #333333;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box; }
  .actionDropdownItem:hover, .actionDropdownItem.active {
    background-color: #fafafb; }
  .actionDropdownItem:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background: transparent none 12px center no-repeat; }
  .actionDropdownItem.disabled:before, .actionDropdownItem.disabled:hover:before {
    opacity: .4; }

.compactMode .actionDropdownItem {
  float: left;
  top: 0;
  width: 30px;
  height: 24px;
  padding: 0;
  border-width: 0;
  overflow: visible;
  text-indent: -10000px;
  border-radius: 0; }
  .compactMode .actionDropdownItem:hover, .compactMode .actionDropdownItem.active {
    background-color: inherit; }
  .compactMode .actionDropdownItem:before {
    width: 100%;
    background-position: center center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .compactMode .actionDropdownItem span {
    display: none; }

.compactMode .actionDropdownItem.more {
  visibility: hidden;
  position: absolute;
  right: 0;
  border: 1px solid #d1d1d1;
  border-top: 0;
  transition: none;
  height: 35px; }
  .compactMode .actionDropdownItem.more.first {
    border-top: 1px solid #d1d1d1; }
  .compactMode .actionDropdownItem.more:hover {
    height: 35px; }

.compactMode .open .actionDropdownItem.more {
  visibility: visible; }

.actionDropdownItem.disabled,
.actionDropdownItem.disabled:hover {
  cursor: default;
  color: #aaa;
  text-decoration: none;
  text-shadow: none !important;
  background-color: transparent;
  top: 0; }

.compactMode .actionDropdownItem:hover:before {
  top: -5px; }

.compactMode .actionDropdownItem.more:before,
.compactMode .actionDropdownItem.more:hover:before,
.compactMode .actionDropdownItem.disabled:before,
.compactMode .actionDropdownItem.disabled:hover:before {
  top: 0;
  transition: none; }

.k-list .actionDropdownItem {
  height: 16px;
  line-height: 16px;
  background-color: transparent;
  padding-left: 35px;
  margin: -2px; }
  .k-list .actionDropdownItem:before {
    width: 30px;
    height: 16px;
    background-position: 5px center; }
  .k-list .actionDropdownItem.selectAll:before {
    background-position: -3px center; }
  .k-list .actionDropdownItem.disabled:before {
    opacity: .4; }
  .k-list .actionDropdownItem.disabled:hover {
    height: 16px; }

.k-list .actionDropdownItem.large {
  height: 20px;
  line-height: 20px; }
  .k-list .actionDropdownItem.large:before {
    width: 30px;
    height: 20px; }
  .k-list .actionDropdownItem.large.disabled:hover {
    height: 20px; }

/* .InfoFocus
============================================ */
.InfoFocus {
  float: left;
  position: relative;
  margin: 0 5px 5px 0;
  padding: 0 0 0 12px;
  height: 22px;
  background-color: #555;
  border-radius: 12px;
  line-height: 22px;
  box-sizing: border-box; }
  .InfoFocus.view {
    background-color: #ccc; }
  .InfoFocus span {
    float: left;
    padding: 0 12px 0 0;
    min-width: 119px;
    color: #fff;
    font-size: 12px;
    font-weight: bold; }
    .InfoFocus span:first-child {
      max-width: 95px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }

.none {
  display: none; }

/* .item-label
============================================ */
.item-label-wrapper {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap; }

.item-label {
  display: inline-flex;
  align-items: center;
  background-color: #f1f3f4;
  color: #5e6366;
  padding: 0 5px;
  margin: 0 5px 5px 0;
  line-height: 1.85em;
  cursor: default;
  position: relative;
  box-sizing: border-box;
  font-size: 11px; }
  .item-label.item-label-light {
    background-color: transparent;
    background-image: linear-gradient(to right, #e6effb 0%, #f5fcff); }
  .item-label .btn-remove {
    cursor: pointer;
    height: 16px; }

/* .card
============================================ */
.card .card-header {
  cursor: default;
  text-transform: uppercase;
  color: #3d4852;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1.5px;
  padding: 10px; }

.card .card-body {
  padding: 0 10px 10px 10px; }
  .card .card-body .form-row {
    margin-left: -5px;
    margin-right: -5px; }

.card-dark {
  background-color: #f1f3f4; }
  .card-dark .card-body {
    color: #78909c; }

/* .listview
============================================ */
.listview {
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 200px;
  box-sizing: border-box;
  background-color: #fff; }
  .listview.listview-popup {
    border-radius: 2px;
    border: 1px solid #e3e5e5;
    box-shadow: 0 1px 2px 0 rgba(8, 35, 48, 0.24), 0 2px 6px 0 rgba(8, 35, 48, 0.16); }
  .listview .listview-item {
    display: flex;
    align-items: center;
    cursor: default;
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px;
    min-height: 24px;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #fff; }
    .listview .listview-item:hover, .listview .listview-item.active {
      background-color: #fafafb;
      font-weight: bold; }
    .listview .listview-item.disabled {
      cursor: default;
      opacity: .3; }
  .listview.display-listview label {
    display: flex; }
  .listview.display-listview .name {
    margin-left: 5px;
    margin-right: 5px; }

/* .multiple-select
============================================ */
.multiple-select-items .multiple-select-header,
.multiple-select-items .multiple-select-button {
  cursor: default;
  position: relative;
  box-sizing: border-box;
  margin: 0 5px 5px 0;
  line-height: 20px;
  font-size: 11px; }

.multiple-select-items .multiple-select-header {
  order: 1;
  font-style: italic;
  color: #78909c; }

.multiple-select-items .multiple-select-button {
  cursor: pointer;
  order: 2;
  height: 16px;
  width: 16px;
  margin-right: 0;
  font-size: 9px;
  line-height: 15px;
  color: #78909c;
  text-align: center; }
  .multiple-select-items .multiple-select-button.disabled {
    opacity: .3;
    cursor: default; }

.multiple-select-list {
  position: absolute;
  z-index: 100000;
  min-width: 80px;
  font-size: 11px; }

/* .accordion
============================================ */
.accordion {
  overflow: auto;
  margin: 0;
  padding: 0;
  list-style: none; }

.accordion-item {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  padding: 0; }
  .accordion-transparent .accordion-item {
    background-color: transparent; }

.accordion-header {
  cursor: default;
  background-color: #fcfdfd;
  text-transform: uppercase;
  color: #3d4852;
  font-size: 10px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1.5px;
  padding: 10px; }
  .accordion-transparent .accordion-header {
    background-color: transparent; }

.open-indicator,
.close-indicator {
  margin-right: 5px;
  color: #78909c;
  font-size: 11px; }

.open .open-indicator,
.close .close-indicator {
  display: inline-block; }

.open .close-indicator,
.close .open-indicator {
  display: none; }

.accordion-body {
  padding: 10px; }
  .open + .accordion-body {
    display: block; }
  .close + .accordion-body {
    display: none; }
  .accordion-body .form-row {
    margin-left: -5px;
    margin-right: -5px; }

/* .switch
============================================ */
.switch {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .switch * {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .switch label {
    cursor: pointer; }
    .switch label input[type=checkbox] {
      opacity: 0;
      margin-left: 25px; }
      .switch label input[type=checkbox]:checked + .lever {
        background-color: #cde2f5; }
        .switch label input[type=checkbox]:checked + .lever:before, .switch label input[type=checkbox]:checked + .lever:after {
          left: 18px; }
        .switch label input[type=checkbox]:checked + .lever:after {
          background-color: #358ed7; }
      .switch label input[type=checkbox]:disabled + .lever {
        cursor: default;
        opacity: .3; }
    .switch label .lever {
      content: '';
      display: inline-block;
      position: relative;
      width: 36px;
      height: 14px;
      background-color: #bcc8ce;
      border-radius: 15px;
      margin-right: 10px;
      -webkit-transition: background .3s ease;
      transition: background .3s ease;
      vertical-align: middle;
      margin: 0 16px; }
      .switch label .lever:before, .switch label .lever:after {
        content: "";
        position: absolute;
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        left: 0;
        top: -3px;
        transition: left .3s ease, background .3s ease, box-shadow .1s ease, transform .1s ease; }
      .switch label .lever:before {
        background-color: #f7f9fa; }
      .switch label .lever:after {
        background-color: #f7f9fa;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12); }

/* .toast-notification
============================================ */
.toast-notification {
  display: flex;
  align-items: center;
  width: 380px;
  padding: 15px;
  background-color: #fafcfc;
  color: #3d4852;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22);
  min-height: 30px;
  max-height: 50px; }
  .toast-notification .toast-notification__status-icon {
    text-align: center;
    border-radius: 9999px;
    border: 1px solid;
    margin-right: .75rem;
    width: calc(1rem + 5px);
    height: calc(1rem + 5px);
    padding: 5px; }
    .toast-notification .toast-notification__status-icon .icon {
      width: 15px;
      height: 15px; }
  .toast-notification .toast-notification__info {
    overflow: hidden;
    margin-top: -.25rem;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; }
    .toast-notification .toast-notification__info h1 {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-top: 0;
      margin-bottom: .25rem; }
    .toast-notification .toast-notification__info p {
      line-height: 1.5;
      margin: 0; }
  .toast-notification .toast-notification__close-icon {
    background: transparent;
    padding: 0;
    cursor: pointer;
    margin-left: 4rem;
    border: 0; }
    .toast-notification .toast-notification__close-icon .icon {
      font-size: 12px; }
  .toast-notification .toast-notification__progress-bar {
    height: 4px;
    width: 100%;
    transition-property: width;
    transition-timing-function: linear;
    position: absolute;
    bottom: 0;
    left: 0; }
    .toast-notification .toast-notification__progress-bar.countdown {
      width: 0%; }

.toast-notification.success .toast-notification__border-color {
  border-color: #7dc855; }

.toast-notification.success .toast-notification__bg-color {
  background-color: #7dc855; }

.toast-notification.success .toast-notification__color {
  color: #7dc855; }
