/* .popupExportToCSV
============================================ */
.popupExportToCSV {
    width: 650px;
}

.popupExportToCSV .k-window-content {
    padding-bottom: 10px;
}

.ExportOptionArea {
    font-size: 12px;
}

.popupExportToCSV fieldset {
    clear: both;
    overflow: hidden;
    padding-top: 10px;
    padding-right: 0;
    margin-bottom: 10px;
    border: 1px solid #8f8f8f;
}

.popupExportToCSV legend {
    font-weight: bold;
}

.popupExportToCSV .row {
    width: 290px;
    margin-right: 10px;
    padding-left: 0;
    float: left;
    min-height: 40px;
    overflow: hidden;
    box-sizing: border-box;
}

.popupExportToCSV .row .field {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    width: 140px;
    margin-right: 10px;
}

.popupExportToCSV .row .input {
    line-height: 32px;
    display: inline-block;
    width: 135px;
    overflow: visible;
    vertical-align: middle;
}

#file-name {
    width: 100%;
}

#file-name .input {
    width: 468px;
}

#enquote-header label {
    margin-right: 10px;
}

#bool-character .field {
    vertical-align: top;
    padding-top: 8px;
}

#bool-character input {
    margin-bottom: 5px;
}

.popupExportToCSV .k-numerictextbox {
    width: 100%;
}