/* .popupFollowup
============================================ */
#popupFollowup {
    display: flex;
    align-items: stretch;
}

.popupFollowup {
    height: auto;
}

.popupFollowup .k-window-titlebar {
    border-bottom-color: #fff;
}

.popupFollowup .k-window-content {
    padding: 0;
}

.popupFollowup .k-window-action {
    height: 36px;
}

.popupFollowup .k-window-actions {
    top: 0;
}

.popupFollowup .k-window-buttons-inner {
    background: none;
}

.popupFollowup .k-window-buttons {
    border-top: none;
}

.followupsArea,
.followupsHelp {
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    height: 100%;
    min-height: 430px;
}

.followupsArea {
    padding: 15px 10px 15px 10px;
    flex-grow: 2;
    display: flex;
    align-items: center;
    transition: margin-right .3s ease-in-out;
}
.with-help .followupsArea {
    margin-right: 325px;
}

.followupsAreaInner {
    position: relative;
    height: 490px;
    width: 725px;
    min-width: 725px;
    margin: auto;
}

.followupsArea .blockHeader {
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    background: #8197c8 none;
    text-align: center;
}

.followupBlock,
.followupClass,
.followupRelation,
.followupFlow,
.followupsIndicator,
.followupButton {
    position: absolute;
}

.followupsArea.initializing .followupBlock,
.followupsArea.initializing .followupClass,
.followupsArea.initializing .followupRelation,
.followupsArea.initializing .followupFlow,
.followupsArea.initializing .followupsIndicator,
.followupsArea.initializing .followupButton {
    visibility: hidden;
}

.followupBlock,
.followupClass {
    z-index: 2;
}

.followupRelation,
.followupFlow {
    z-index: 3;
}

.followupsIndicator,
.followupButton {
    z-index: 4;
}

.followupBlock {
    width: 200px;
    border: 1px solid #a8b7d9;
    box-sizing: border-box;
    height: auto;
    max-height: 226px;
    border-radius: 2px;
}

.followupBlock .k-grid-header {
    padding-right: 0 !important; /* NOSONAR: override runtime css */
}

.followupBlock .k-header:before {
    content: '';
    float: left;
    width: 4px;
    height: 20px;
}

.followupBlock .k-grid-header .k-header.gridHeaderContainer {
    color: #fff;
    line-height: 22px;
    height: 30px;
    padding-right: 20px;
    background: #8197c8;
}

.followupBlock .gridHeaderContainer .sort {
    right: -15px;
    top: 4px;
}

.followupBlock .gridHeaderContainer.asc .sort,
.followupBlock .gridHeaderContainer.desc .sort {
    background-image: url('../../images/icons/icon_sorting_a_z.svg');
}

.followupBlock .k-grid-content {
    overflow-x: hidden;
    max-height: 194px;
}

.followupsArea .k-grid-content td {
    text-indent: 5px;
}

.followupClass {
    width: 175px;
    height: 30px;
    line-height: 32px;
    padding: 0 10px;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.followupFlow {
    width: 40px;
    height: 50px;
    background: transparent none center center no-repeat;
}

.followupFlow.forward,
.followupsIndicator > .flow.forward {
    background-image: url('../../images/angle/followups/followups_flow.svg');
}

.followupRelation {
    width: 36px;
    height: 31px;
    background: transparent none right no-repeat;
}

.followupRelation.manyToOne {
    background-image: url('../../images/angle/followups/followups_relation.svg');
    transform: rotate(270deg);
    background-size: 26px;
}

.followupsIndicator {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 11px;
    color: #777;
}

.followupsIndicator > li {
    padding-left: 35px;
    background: transparent none left center no-repeat;
}

.followupsIndicator > .relation {
    line-height: 20px;
}

.followupsIndicator > .relation.manyToOne {
    background-image: url('../../images/angle/followups/followups_relation_indicator.svg');
}

.followupsIndicator > .flow {
    line-height: 45px;
}

.followupButton .btn {
    margin: 0;
    white-space: nowrap;
}

.followupWarning {
    display: none;
    text-align: right;
    font-size: 12px;
    color: #c00;
    font-weight: bold;
    white-space: nowrap;
}

.followupsHelp {
    position: absolute;
    background-color: #f7f9fa;
    width: 310px;
    top: 0;
    right: -310px;
    transition: right .3s ease-in-out;
}

.with-help .followupsHelp {
    right: 15px;
}

.followupsHelp .box-scrollable {
    width:100%;
    height:100%;
}

.followupsHelp .box-scrollable-content {
    padding:16px;
}

.followupsHelpInner {
    position: relative;
    height: 80px;
    min-height: 80px;
    z-index: 1;
    line-height: 1.67;
}

.followupBlock div.k-grid-header-wrap {
    box-shadow: none;
    border-color: #a8b7d9;
}

#popupFollowup .k-grid td,
#popupFollowup .k-grid-header .k-header {
    border: none;
    border-bottom-color: #a8b7d9;
}

#popupFollowup .k-state-selected,
#popupFollowup .k-state-selected > td,
#popupFollowup .k-grid td.k-state-selected.k-state-focused {
    background-color: #e5efff;
    border: #8dbeeb solid 1px;
}

#popupFollowup .k-grid tbody tr:hover td,
#popupFollowup .k-grid tbody tr.k-alt:hover td {
    box-shadow: 0 1px 2px 0 rgba(8, 35, 48, 0.24), 0 2px 6px 0 rgba(8, 35, 48, 0.16);
}

#popupFollowup .k-grid tbody tr:hover td.grid-no-data {
    box-shadow: none;
}

#popupFollowup div.k-grid tbody tr.k-alt,
#popupFollowup div.k-grid tbody tr.k-alt:hover {
    background-color: #f7f9fa;
}
