$scrollbar-color: #c1c1c1;
$scrollbar-color-hover: #bdbdbd;
$scrollbar-color-active: #dadada;
$scrollbar-track-color: #ececec;
$scrollbar-track-color-hover: #d8d8d8;
$scrollbar-track-color-active: #f7f7f7;

/* scrollbar */
.ie html, .ie body {
    /* for IE */
    scrollbar-track-color: $scrollbar-track-color;
    scrollbar-face-color: $scrollbar-color;
    scrollbar-shadow-color: $scrollbar-color;
    scrollbar-highlight-color: $scrollbar-color;
    scrollbar-3dlight-color: $scrollbar-color;
    scrollbar-darkshadow-color: $scrollbar-color;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-color;
    border: 0;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-color-hover;
}

::-webkit-scrollbar-thumb:active {
    background: $scrollbar-color-active;
}

::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
    border: 0;
    border-radius: 0;
}

::-webkit-scrollbar-track:hover {
    background: $scrollbar-track-color-hover;
}

::-webkit-scrollbar-track:active {
    background: $scrollbar-track-color-active;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
