@import '_mixins.scss';


/* .toast-notification
============================================ */
.toast-notification {
    display: flex;
    align-items: center;
    width: 380px;
    padding: 15px;
    background-color: #fafcfc;
    color: #3d4852;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.22);
    min-height: 30px;
    max-height: 50px;

    .toast-notification__status-icon {
        text-align: center;
        border-radius: 9999px;
        border: 1px solid;
        margin-right: .75rem;
        width: calc(1rem + 5px);
        height: calc(1rem + 5px);
        padding: 5px;

        .icon {
            width: 15px;
            height: 15px;
        }
    }

    .toast-notification__info {
        overflow: hidden;
        margin-top: -.25rem;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        h1 {
            @include ellipsis;
            margin-top: 0;
            margin-bottom: .25rem;
        }

        p {
            line-height: 1.5;
            margin: 0;
        }
    }

    .toast-notification__close-icon {
        background: transparent;
        padding: 0;
        cursor: pointer;
        margin-left: 4rem;
        border: 0;

        .icon {
            font-size: 12px;
        }
    }

    .toast-notification__progress-bar {
        height: 4px;
        width: 100%;
        transition-property: width;
        transition-timing-function: linear;
        position: absolute;
        bottom: 0;
        left: 0;

        &.countdown {
            width: 0%;
        }
    }
}

.toast-notification.success {
    .toast-notification__border-color {
        border-color: #7dc855;
    }

    .toast-notification__bg-color {
        background-color: #7dc855;
    }

    .toast-notification__color {
        color: #7dc855;
    }
}
