#SettingsIcon {
  font-size: 23px;
  color: #fafcfc; }

.settingsPanel {
  box-shadow: 0 6px 12px 0 rgba(8, 35, 48, 0.14), 0 16px 24px 0 rgba(8, 35, 48, 0.08);
  background-color: #f7f9fa;
  width: 354px;
  position: absolute;
  top: 48px;
  right: 0;
  transition: right .3s ease-in-out;
  z-index: 1000; }
  .settingsPanel.hide {
    position: fixed;
    right: -364px; }
  .settingsPanel .card-header, .settingsPanel .accordion-header {
    color: #069697;
    text-transform: none;
    font-size: 12px;
    letter-spacing: .44px; }
  .settingsPanel h4 {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0 0 10px 0; }
  .settingsPanel hr {
    border-top: 2px solid #fff;
    margin: 10px; }
  .settingsPanel .greyText {
    color: #919699; }
  .settingsPanel .darkText {
    color: #3d4852; }
  .settingsPanel small {
    display: block;
    text-align: right;
    font-size: 10px;
    font-style: italic;
    letter-spacing: 0.25px;
    color: #78909c; }
  .settingsPanel .accordion {
    overflow: hidden; }
    .settingsPanel .accordion .accordion-body {
      padding-top: 0; }
  .settingsPanel input[type="text"], .settingsPanel .k-dropdown {
    width: 100%; }
  .settingsPanel fieldset {
    margin-bottom: 10px;
    border-radius: 4px;
    border: solid 1px #e3e5e5;
    color: #78909c; }
    .settingsPanel fieldset p {
      margin: 0; }
    .settingsPanel fieldset p:not(:last-child) {
      margin-bottom: 10px; }
  .settingsPanel .tab-content-wrapper {
    height: calc(100vh - 133px);
    /* fallback for none support browsers */
    height: calc(var(--vh, 1vh) * 100 - 133px);
    overflow: auto;
    padding: 0; }
    .settingsPanel .tab-content-wrapper:focus {
      outline: none; }
    .settingsPanel .tab-content-wrapper .tab-content {
      padding: 10px 10px 0 10px; }
  .settingsPanel .settingsPanelSection {
    overflow: hidden; }
  .settingsPanel .settingsPanelProfile .card-body {
    padding-bottom: 0; }
  .settingsPanel .settingsPanelProfile .settingsPanelProfileName {
    margin-top: -5px; }
    .settingsPanel .settingsPanelProfile .settingsPanelProfileName strong {
      display: block;
      font-size: 14px; }
  .settingsPanel .settingsPanelLabelWrapper {
    border-radius: 2px;
    border: solid 1px #e3e5e5;
    background-color: #f7f9fa;
    padding: 5px;
    overflow: auto;
    padding-top: 2px;
    padding-bottom: 2px; }
    .settingsPanel .settingsPanelLabelWrapper .settingsPanelValidateLabels {
      margin-top: 10px; }
      .settingsPanel .settingsPanelLabelWrapper .settingsPanelValidateLabels:first-child {
        margin-top: 0; }
    .settingsPanel .settingsPanelLabelWrapper .settingsPanelLabel {
      border-radius: 14px;
      background-color: #e9ecee;
      padding: 4px 11px;
      margin: 3px;
      float: left; }
  .settingsPanel .settingsPanelActionsAtLoginDisplays {
    margin-left: 25px; }
    .settingsPanel .settingsPanelActionsAtLoginDisplays .settingsPanelActionsAtLoginDisplaysItem {
      display: flex;
      align-items: center;
      margin-top: 10px; }
      .settingsPanel .settingsPanelActionsAtLoginDisplays .settingsPanelActionsAtLoginDisplaysItem:first-child {
        margin-top: 0; }
    .settingsPanel .settingsPanelActionsAtLoginDisplays .icon.display {
      margin-right: 5px;
      font-size: 16px;
      width: 24px;
      color: #78909c;
      text-align: center; }
    .settingsPanel .settingsPanelActionsAtLoginDisplays .icon.delete-red {
      cursor: pointer; }
    .settingsPanel .settingsPanelActionsAtLoginDisplays a {
      display: inline-flex;
      width: 95%; }
    .settingsPanel .settingsPanelActionsAtLoginDisplays .settingsPanelActionsAtLoginDisplayText span {
      display: block; }
    .settingsPanel .settingsPanelActionsAtLoginDisplays .settingsPanelActionsAtLoginDisplayText .greyText {
      font-size: 11px; }
  .settingsPanel .settingsPanelDefaultBusinessProcess .businessProcessesCheckBoxList {
    overflow: visible;
    width: auto; }
  .settingsPanel .settingsPanelDefaultBusinessProcess .BusinessProcessCheckBox {
    display: block;
    padding: 0;
    width: auto; }
    .settingsPanel .settingsPanelDefaultBusinessProcess .BusinessProcessCheckBox:not(:last-child) {
      margin-bottom: 10px; }
  .settingsPanel .settingsPanelGoToSap .btn-info {
    cursor: default; }
  .settingsPanel .settingsPanelGoToSap .btn-download .icon {
    position: relative;
    top: 0;
    font-size: 17px;
    color: #78909c;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .settingsPanel .settingsPanelGoToSap .btn-download:hover .icon {
    top: -5px; }
