
#SettingsIcon {
    background: transparent url(../../images/icons/icon_gear.svg) center no-repeat;
}

.settingsPanel {
    box-shadow: 0 6px 12px 0 rgba(8, 35, 48, 0.14), 0 16px 24px 0 rgba(8, 35, 48, 0.08);
    background-color: #f7f9fa;
    width: 354px;
    position: absolute;
    top: 48px;
    right: 0;
    transition: right .3s ease-in-out;
    z-index: 1000;
}

.settingsPanel.hide {
    position: fixed;
    right: -364px;
}

.settingsPanel .card-header,
.settingsPanel .accordion-header {
    color: #069697;
}

.settingsPanel h4 {
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0 0 10px 0;
}
.settingsPanel hr {
    border-top: 2px solid #fff;
    margin: 10px;
}

.settingsPanel .greyText {
    color: #919699;
}
.settingsPanel .darkText {
    color: #3d4852;
}
.settingsPanel small {
    display: block;
    text-align: right;
    font-size: 10px;
    font-style: italic;
    letter-spacing: 0.25px;
    color: #78909c;
}

.settingsPanel .accordion {
    overflow: hidden;
}
.settingsPanel .accordion-body {
    padding-top: 0;
}

.settingsPanel input[type="text"],
.settingsPanel .k-dropdown {
    width: 100%;
}

.settingsPanel fieldset {
    margin-bottom: 10px;
    border-radius: 4px;
    border: solid 1px #e3e5e5;
    color: #78909c;
}
.settingsPanel fieldset p {
    margin: 0;
}
.settingsPanel fieldset p:not(:last-child) {
    margin-bottom: 10px;
}

.settingsPanelTabs {
    background: #f6eac1;
    background: linear-gradient(to right, #f6eac1 1%,#f9d8cc 100%);
}

.settingsPanelTabsWrapper {
    display: flex;
    align-items: center;
    height: 36px;
    margin: 0 6px;
}

.settingsPanelTab {
    display: inline-flex;
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
}

.settingsPanelTab label {
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(145, 150, 153, 0.87);
}

.settingsPanelTab .settingsPanelTabSelector:checked + label {
    background-color: #f7f9fa;
    color: #3e4345;
}

.settingsPanelTabSelector {
    display: none;
}

.settingsPanelContentsWrapper {
    width: 100%;
    height: calc(100vh - 133px); /*fallback for ie*/
    height: calc(var(--vh, 1vh) * 100 - 133px);
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

.settingsPanelContentsWrapper:focus {
    outline: none;
}

.settingsPanelContent {
    display: none;
    margin: -10px -10px 0 -10px;
}

.settingsPanelContent.active {
    display: block;
}

.settingsPanelSection {
    overflow: hidden;
}

.settingsPanelLabelWrapper {
    border-radius: 2px;
    border: solid 1px #e3e5e5;
    background-color: #f7f9fa;
    padding: 5px;
    overflow: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.settingsPanelLabel {
    border-radius: 14px;
    background-color: #e9ecee;
    padding: 4px 11px;
    margin: 3px;
    float: left;
}
.settingsPanelProfile .card-body {
    padding-bottom: 0;
}
.settingsPanelProfileName {
    margin-top: -5px;
}
.settingsPanelProfileName strong {
    display: block;
    font-size: 14px;
}

.settingsPanelValidateLabels {
    margin-top: 10px;
}
.settingsPanelValidateLabels:first-child {
    margin-top: 0;
}

.settingsPanelActionsAtLoginDisplays {
    margin-left: 25px;
}
.settingsPanelActionsAtLoginDisplaysItem {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.settingsPanelActionsAtLoginDisplaysItem:first-child {
    margin-top: 0;
}
.settingsPanelActionsAtLoginDisplays .icon.display {
    margin-right: 5px;
    font-size: 16px;
    width: 24px;
    color: #78909c;
    text-align: center;
}
.settingsPanelActionsAtLoginDisplays .icon.delete-red {
    cursor: pointer;
}
.settingsPanelActionsAtLoginDisplays a {
    display: inline-flex;
    width: 95%;
}
.settingsPanelActionsAtLoginDisplayText span {
    display: block;
}
.settingsPanelActionsAtLoginDisplayText .greyText {
    font-size: 11px;
}

.settingsPanelDefaultBusinessProcess .businessProcessesCheckBoxList {
    overflow: visible;
    width: auto;
}
.settingsPanelDefaultBusinessProcess .BusinessProcessCheckBox {
    display: block;
    padding: 0;
    width: auto;
}
.settingsPanelDefaultBusinessProcess .BusinessProcessCheckBox:not(:last-child) {
    margin-bottom: 10px;
}

.settingsPanelGoToSap .btn-info {
    position: relative;
    top: 2px;
}
.settingsPanelGoToSap .btn-download .icon {
    position: relative;
    top: 0;
    font-size: 17px;
    color: #78909c;
    transition: all .3s cubic-bezier(.25,.8,.25,1);
}
.settingsPanelGoToSap .btn-download:hover .icon {
    top: -5px;
}

.settingsPanelGoToSap .btn-info:hover,.settingsPanelGoToSap .btn-info i:hover {
    cursor:default;
}
