/* .popupUserPassword
============================================ */
.popupUserPassword {
    font-size: 12px;
    height: auto;
}
.changePasswordPanel {
    margin-left: 0;
    border-left-width: 0;
    padding-bottom: 0;
}
.changePasswordPanel:before {
    display: none;
}
.changePasswordPanel > div {
    display: block;
    padding-left: 0;
}
.changePasswordPanel .row {
    padding-top: 0;
    margin-top: 15px;
}
.changePasswordPanel .input input {
    font-size: 12px;
}