/* .popupUserSetting
============================================ */
.popupUserSetting .popupTabMenu li {
    cursor: default;
}

.popupUserSetting .popupTabMenu a {
    width: 195px;
    cursor: pointer;
}

.popupUserSetting .hasSubMenu {
    background-position: 98% 15px;
    overflow: hidden;
}

.popupUserSetting .hasSubMenu.Selected {
    background-image: url('../../images/icons/icon_arrow_down_white.png');
    background-position: 98% 15px;
    height: auto;
}

.popupUserSetting .subMenu {
    padding-left: 0;
}

.popupUserSetting .subMenu li {
    position: relative;
    background: #efefef none;
    height: 27px;
}

.popupUserSetting .subMenu .Selected {
    background-color: #d6d6d6;
}

.popupUserSetting .subMenu li:hover {
    background-color: #ffffff;
}

.popupUserSetting .subMenu a {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    color: #333;
    font-weight: bold;
    width: 200px;
    height: 27px;
    padding-left: 20px;
    line-height: 27px;
    box-sizing: border-box;
}

.popupUserSetting .popupTabPanel > div {
    overflow: hidden;
}

.popupUserSetting .input label {
    font-weight: normal;
    display: inline;
    font-size: 12px;
}

#SettingArea h2 {
    position: relative;
    margin: 0;
    color: #666666;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.popupUserSetting .eaDropdown {
    width: 100%;
    min-width: 130px;
    font-size: 14px;
}

/* #UserDetailSettingArea
============================================ */
#UserDetailSettingArea h2 {
    margin-bottom: 10px;
}

#UserDetailSettingArea .row {
    margin-bottom: 10px;
}

#UserDetailSettingArea .field {
    font-weight: normal;
    width: 140px;
}

#UserDetailSettingArea .field + .input {
    margin-left: 140px;
}

#UserDetailSettingArea .k-dropdown {
    width: 200px;
}

.sectionUserDetails {
    margin: 0 0 20px 0;
}

#AuthorizationStatus .labelGroup {
    position: static;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    width: 100%;
}

#AuthorizationStatus .labelGroup + .input {
    margin-left: 0;
}

#UserDetailSettingArea .labelCategories .field {
    top: 3px;
    margin-top: 0;
}

#UserDetailSettingArea .labelCategories .row {
    margin-bottom: 5px;
}

#UserDetailSettingArea .InfoFocus span {
    max-width: none;
    min-width: 0;
}

/* #SystemSettingArea
============================================ */
#SystemSettingArea .row {
    margin-bottom: 15px;
}

#SystemSettingArea .field {
    width: 100%;
    font-weight: bold;
    position: static;
    margin-top: 0;
    margin-bottom: 3px;
}

#SystemSettingArea .field + .input {
    margin-left: 0;
    overflow: hidden;
}

#SystemSettingArea .field + .inputBusinessProcesses {
    overflow: visible;
}

#UserSettingsBusinessProcesses {
    overflow: visible;
    height: 48px;
}

#SystemSettingArea .businessProcesses {
    display: block;
    margin-bottom: 3px;
    max-width: 470px;
    z-index: 100;
}

#SystemSettingArea .rowLanguage {
    height: 60px;
    overflow: hidden;
}

#SystemSettingArea .columnLanguage,
#SystemSettingArea .columnExportRow {
    margin: 0 0 5px 20px;
    float: left;
}

#SystemSettingArea .columnLanguage {
    width: 200px;
    margin-left: 0;
}

#SystemSettingArea .columnExportRow {
    width: 260px;
}

#SystemSettingArea .columnLanguage .field,
#SystemSettingArea .columnExportRow .field {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#SystemSettingArea .k-dropdown {
    width: 200px;
}

#SystemSettingArea .iconWarning {
    position: relative;
    top: -3px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 16px;
    background: transparent url('../../images/icons/icon_warning.svg') center top no-repeat;
}

#DefaultStarredfieldsLabel img {
    position: absolute;
    top: -5px;
    margin-left: -3px;
}

#DefaultStarredfieldsLabel span {
    margin-left: 18px;
}

#DefaultSuggestedfieldsLabel img {
    position: absolute;
    top: -5px;
    margin-left: -3px;
}

#DefaultSuggestedfieldsLabel span {
    margin-left: 18px;
}

#SystemSettingArea .rowFieldChooser .input,
#SystemSettingArea .rowTechInfo .input {
    padding-bottom: 5px;
}

/* .formatSettingsArea
============================================ */
.formatSettingsArea .row {
    min-height: 40px;
    margin-bottom: 10px;
}

.formatSettingsArea .field {
    top: 0;
    margin-top: 0;
    width: 155px;
}

.formatSettingsArea .field > span {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    font-weight: normal;
}

.formatSettingsArea .input label {
    display: inline-block;
    margin-top: 12px;
}

.formatSettingsArea .input {
    width: 220px;
}

.formatSettingsArea .input .eaText {
    font-size: 14px;
}

.formatSettingsArea fieldset {
    clear: both;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #8f8f8f;
}

.formatSettingsArea legend {
    font-weight: bold;
}

.formatSettingsArea .formatExample {
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
}

.formatSettingsArea .formatExample.last {
    margin-right: 0;
}

.formatSettingsArea .formatDescription {
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #333;
}

.formatSettingsArea .rowWithThousandCheckbox {
    margin-bottom: 16px;
}

.formatSettingsArea .checkboxThousandSeparator {
    margin-top: 3px;
}

/* #ActionSettingArea
============================================ */
#ActionItems {
    margin: 20px 0 0 0;
    padding-top: 1px;
    padding-bottom: 5px;
    position: relative;
}

.ActionItem {
    position: relative;
    padding-left: 47px;
    padding-right: 50px;
    height: 46px;
    line-height: 18px;
    background-color: #dcdcdc;
    border: 1px solid #b3b3b3;
    border-top-width: 0;
    box-sizing: border-box;
}

.ActionItem:first-child {
    border-top-width: 1px;
}

.ActionItem > span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 4px;
}

.ActionItem .dashboard + span {
    margin-top: 14px;
}

.ActionItem em {
    font-style: italic;
    color: #777;
}

.ActionItem .linkDisplay,
.ActionItem .btnDelete {
    position: absolute;
    top: 50%;
    right: 6px;
    margin-top: -14px;
    width: 28px;
    min-width: 0;
    height: 26px;
    border-radius: 2px;
}

.ActionItem .linkDisplay {
    right: auto;
    left: 10px;
    width: 25px;
    height: 25px;
    z-index: 10;
}

.ActionItem .linkDisplay:after {
    display: none;
}

.ActionItem .btnDelete:after {
    background: transparent url('../../images/icons/icon_bin.png') center center no-repeat;
    width: 26px;
    right: 0;
}