/* use in filter/jump panel */

/* .definitionList
============================================ */
.definitionList {
    min-height: 44px;
    max-height: 365px;
    overflow: hidden;
    overflow-y: auto;
}

.definitionList.no {
    border-width: 0;
    box-shadow: none;
}

.screenMinHeight .definitionList {
    max-height: 300px;
}

.filterItem {
    position: relative;
    margin-right: 50px;
}

.readonly .filterItem {
    margin-right: 0;
}

.treeview .filterItem {
    margin-left: 40px;
    margin-right: 0;
    box-sizing: border-box;
}

.filterItem .btnAddFilterFromJump {
    position: absolute;
    right: -50px;
    top: 3px;
    width: 40px;
    min-width: 0;
    height: 40px;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    text-indent: -1000px;
}

.filterItem .btnAddFilterFromJump:after {
    background-image: url('../../images/icons/icon_add_filter_before_jump.png');
    right: 3px;
}

.definitionList .NoticeIcon {
    background: transparent url(../../images/icons/icon_execute.svg) left top no-repeat;
}

.definitionList .FilterHeader:first-child,
.definitionList .first .FilterHeader {
    border-top-width: 1px;
}

.treeview .first .FilterHeader {
    border-top-width: 0;
}

.definitionList .filterItem.filterHint {
    cursor: move;
    margin-right: 0;
}

.definitionList.filtersSorting .filterItem.filterHint .handler {
    background-color: #e8641b;
    opacity: .5;
}

.definitionList .filterItem.filterHint .FilterHeader:after,
.definitionList .filterItem.filterHint .btnInfo {
    display: none;
}

.definitionList .filterItem.filterItemDisabled,
.definitionList .filterItem.filterPlaceholder {
    opacity: .5;
}

.FilterDisable {
    color: #b3b3b3;
}

.FilterDisable:hover {
    color: #333333;
}

.FilterHeader {
    cursor: pointer;
    margin: 0;
    position: relative;
    height: 44px;
    line-height: 44px;
    background: #f3f3f3;
    border: 1px solid #c1c1c1;
    border-top-width: 0;
}

.treeview .filterItem > .FilterHeader {
    border-top-width: 0;
}

.treeview .filterItem.noBorderBottom > .FilterHeader.Collapse,
.treeview .filterItem.noBorderBottom > .FilterDetail {
    border-bottom-width: 0;
}

.FilterHeader.Followup,
.FilterHeader.Disabled,
.notExists .FilterHeader {
    cursor: default;
}

.FilterHeader:before,
.FilterHeader:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 44px;
    background: transparent none center center no-repeat;
    z-index: 2;
}

.definitionList.sortable .FilterHeader.Filter:before,
.definitionList.sortable .FilterHeader.Followup:before {
    left: 27px;
}

.FilterHeader.Unsave:before {
    background-image: url('../../images/icons/icon_mark_as_new.png');
    background-position: 25px 13px;
}

.FilterHeader:after,
.filtersSorting .filterItem .FilterHeader:after {
    left: auto;
    right: 0;
    background-image: url('../../images/icons/icon_arrow_down.svg');
    background-size: 18px 18px;
    z-index: 9;
}

.treeViewHeader {
    border-top-width: 1px;
}

.treeViewHeader:before {
    display: none;
}

.definitionList.sortable .FilterHeader .handler {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    cursor: move;
    background: transparent url('../../images/icons/icon_move_definition.png') 10px center no-repeat;
}

.FilterHeader .handler,
.definitionList.sortable .FilterHeader.Followup .handler {
    display: none;
}

.FilterHeader.Expand:after {
    background-image: url('../../images/icons/icon_arrow_up.svg');
    z-index: 9;
}

.FilterHeader.Followup:after,
.FilterHeader.Disabled:after {
    background-image: none;
}

.FilterHeader p {
    position: relative;
    display: block;
    font-size: 11px;
    height: 44px;
    overflow: hidden;
    padding: 0 80px 0 40px;
    margin: 0;
    background: transparent url('../../images/icons/icon_filter.svg') 12px center no-repeat;
    background-size: 18px 18px;
    box-sizing: border-box;
    z-index: 3;
}

.popupAngleDetail .FilterHeader p {
    padding-top: 3px;
}

.popupAngleDetail .FilterHeader .NoticeIcon {
    margin-top: -6px;
}

.popupExecuteParameters .FilterHeader.Followup:before {
    background: transparent url('../../images/icons/icon_followup_addnew.svg') center no-repeat;
    background-size: 16px 16px;
}

.popupExecuteParameters .FilterHeader.Followup p {
    background: none;
}

.FilterHeader.Filter.Disabled .validWarning :before {
    top: 14px;
    left: 40px;
}

.FilterHeader.Disabled.Followup:before {
    background: transparent url('../../images/icons/icon_followup_addnew.svg') center no-repeat;
    background-size: 16px 16px;
}

.FilterHeader.Disabled.Followup p {
    background: none;
}

.treeViewHeader p {
    padding-left: 10px;
    padding-right: 110px;
    background-image: none;
}

.definitionList.sortable .FilterHeader.Filter p,
.definitionList.sortable .FilterHeader.Followup p {
    padding-left: 70px;
    background-position: 39px center;
}

.FilterHeader.Followup p {
    background-image: url('../../images/icons/icon_followup_addnew.svg');
    background-size: 16px 16px;
}

.FilterHeader.Unsave p {
    z-index: 1;
}

.FilterHeader p:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 44px;
    background: transparent none center center no-repeat;
}

.definitionList.sortable .FilterHeader.Filter p:before,
.definitionList.sortable .FilterHeader.Followup p:before {
    left: 30px;
}

.notExists .FilterHeader p,
.notExists .FilterHeader p:before {
    background-image: none;
}

.FilterHeader .validWarning,
.FilterHeader .validError {
    line-height: 38px;
}

.FilterHeader .validWarning:before,
.FilterHeader .validError:before {
    content: '';
    display: block;
    position: absolute;
    top: 24px;
    width: 16px;
    height: 16px;
    background: transparent none center center no-repeat;
    background-size: 12px 12px;
    left: 6px;
    top: 20px;
}

.FilterHeader .validWarning:before {
    background-image: url('../../images/icons/icon_warnings.svg');
}

.FilterHeader .validError:before {
    background-image: url('../../images/icons/icon_error.png');
}

.definitionList.sortable .FilterHeader .validWarning:before,
.definitionList.sortable .FilterHeader .validError:before {
    left: 33px;
}

.FilterHeader label {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    cursor: inherit;
    max-width: 365px;
}

.FilterHeader .validWarning label,
.FilterHeader .validError label {
    line-height: 18px;
}

.FilterHeader .validWarningText {
    display: none;
    position: absolute;
    left: 40px;
    bottom: 6px;
    font-weight: normal;
    font-style: italic;
    color: #900;
    padding-right: 2px;
}

.definitionList.sortable .FilterHeader .validWarningText {
    left: 70px;
}

.FilterHeader .validWarning .validWarningText,
.FilterHeader .validError .validWarningText {
    display: block;
}

.FilterHeader .btnInfo,
.FilterHeader .btnAddFilter,
.FilterHeader .btnDelete {
    display: none;
    font-size: 12px;
    color: inherit;
    position: absolute;
    width: 15px;
    height: 15px;
    right: 36px;
    top: 16px;
    z-index: 10;
}

.FilterHeader > .btnInfo {
    right: 60px;
}

.readonly .FilterHeader .btnInfo {
    right: 36px
}

.readonly .FilterHeader.Disabled .btnInfo {
    right: 18px
}

.treeview .FilterHeader .btnInfo,
.treeview .FilterHeader .btnAddFilter,
.treeview .FilterHeader .btnDelete {
    display: block;
}

.treeViewHeader > .btnInfo {
    right: 90px;
    margin: 0;
}

.FilterHeader .btnAddFilter {
    background: transparent url('../../images/icons/icon_add_filter.svg') center center no-repeat;
    background-size: 24px;
}

.popupDashboardDetails .FilterHeader .btnAddFilter {
    background-size: 25px;
    right: 55px;
    margin-top: 4px;
}

.popupDashboardDetails .FilterHeader .btnInfo {
    right: 80px;
}

.popupDashboardDetails .FilterHeader p {
    background: transparent url(../../images/icons/icon_filter.svg) left no-repeat;
    background-position: 10px;
    background-size: 18px 18px;
}

.popupDashboardDetails .FilterHeader.treeViewHeader p {
    padding-left: 10px;
    padding-right: 110px;
    background-image: none;
}

.treeViewHeader > .btnAddFilter {
    right: 60px;
    top: 9px;
    width: 24px;
    height: 20px;
}

.FilterHeader .btnDelete {
    font-size: 11px;
    margin-top: 1px;
}

.FilterHeader:hover .btnInfo,
.FilterHeader:hover .btnAddFilter,
.FilterHeader:hover .btnDelete {
    display: block;
}

.FilterHeader .NoticeIcon {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    margin-top: -9px;
    margin-left: 5px;
}

.FilterHeader .validWarning .NoticeIcon,
.FilterHeader .validError .NoticeIcon {
    top: 6px;
    margin-top: 0;
}

.FilterDetail {
    padding: 11px 0 11px 0;
    position: relative;
    border: 1px solid #c1c1c1;
    border-top-width: 0;
}

.filtersSorting .FilterDetail {
    display: none;
}

.FilterWrapper {
    position: relative;
    padding: 0 10px;
}

.FilterWrapper > .filterInput .k-dropdown {
    width: 100%;
}

.FilterWrapper .k-grid .domainIcon {
    float: left;
    vertical-align: baseline;
    top: -1px;
}

.FilterWrapper .filterLabel {
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}

.FilterWrapperAdvance .filterLabel {
    width: 100px;
}

.FilterWrapperAdvance .filterLabel .k-dropdown {
    width: 100%;
}

.FilterWrapper .filterLabelName {
    position: relative;
    left: 0;
    width: 100%;
    line-height: 20px;
}

.FilterWrapper .filterInput {
    margin-left: 150px;
    min-height: 30px;
    position: relative;
}

.FilterWrapper .filterInputOperator {
    margin-left: 0;
}

.FilterWrapper .filterInputData {
    margin-left: 145px;
}

.FilterWrapperAdvance .filterInputData {
    margin-left: 100px;
}

.FilterWrapper .filterLabelCompare {
    cursor: pointer;
    position: relative;
    left: 0;
    top: 0;
    padding: 3px;
    height: 28px;
    box-sizing: border-box;
}

.FilterWrapperAdvance .filterLabelCompare {
    cursor: default;
}

.FilterWrapper .filterLabelCompareName {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
    padding: 0 5px;
    color: #999;
    border-radius: 4px;
    box-sizing: border-box;
}

.filterInputGroup1 {
    margin-right: 100px;
    display: block;
    overflow: hidden;
    padding-top: 1px;
}

.FilterWrapperAdvance .filterInputGroup1 {
    margin-right: 0;
}

.filterInputGroup1 > .k-widget,
.filterInputGroup1 > .btn,
.filterInputGroup1 > .inputFunctionValue,
.filterInputGroup1 > .eaText,
.filterInputGroup1 > label,
.filterInputGroup1 > div,
.filterInputGroup1 > span {
    margin: 0 0 3px 5px;
    float: left;
    box-sizing: border-box;
}

.inputFunctionValue > .k-widget {
    width: 100%;
}

.filterInputGroup1 > .k-widget,
.filterInputGroup1 > .eaText {
    width: 100%;
}

.filterInputGroup1 > .labelSign {
    line-height: 30px;
}

.filterInputGroup1 .eaText {
    padding-top: 5px;
    padding-bottom: 5px;
}

.filterInputGroup1 > .k-widget.fixedSize {
    width: auto;
    min-width: 120px;
}

.filterInputWithoutCompare .filterInputGroup1,
.FilterWrapper3 .filterInputGroup1,
.filterInputGroupOther.alwaysHide + .filterInputGroup1 {
    margin-right: 0;
}

.FilterWrapper4 .filterInputGroup1 {
    margin-right: 38px;
    padding-right: 2px;
}

.filterInputGroupOther {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1px;
}

.filterInputWithoutCompare .filterInputGroupOther {
    display: none;
}

.FilterWrapper .btnCompare,
.FilterWrapper .btnUncompare {
    display: block;
    position: relative;
    padding: 0;
    margin-right: 0;
    width: 90px;
    text-align: center;
    text-indent: 0;
    box-sizing: border-box;
}

.FilterWrapper .k-grid-header {
    display: none;
}

.FilterWrapper .k-grid-content {
    height: 130px;
}

.FilterWrapper .k-grid-content td {
    padding-left: 7px;
}

.FilterDetail .ExampleText {
    position: relative;
    color: #535353;
    font-weight: bold;
    display: inline-block;
    font-style: italic;
    text-indent: 115px;
}


.FilterDetail .FilterWrapper .ExampleText {
    margin-left: 5px;
    text-indent: 0;
}

.FilterWrapper3 .filterInputGroup1 {
    margin-bottom: 34px;
}

.FilterWrapper3 .filterInputGroupOther {
    position: absolute;
    right: auto;
    left: 0;
    top: 34px;
}

.FilterWrapper3 .filterInputGroupOther .btn,
.FilterWrapper4 .filterInputGroupOther .btn {
    width: 31px;
    height: 30px;
    background: transparent none left top no-repeat;
    border-width: 0;
    text-align: left;
    text-indent: -9000px;
    margin: 0 0 3px 5px;
    padding: 0;
    min-width: 0;
    box-sizing: border-box;
}

.FilterWrapper3 .filterInputGroupOther .btn:disabled,
.FilterWrapper3 .filterInputGroupOther .btn[disabled],
.FilterWrapper4 .filterInputGroupOther .btn:disabled,
.FilterWrapper4 .filterInputGroupOther .btn[disabled] {
    opacity: .5;
}

.FilterWrapper4 .filterInputGroupOther .btn {
    position: absolute;
    left: auto;
    right: 0;
    margin-right: 0;
    z-index: 2000;
}


.FilterWrapper3 .filterInputGroupOther .btn,
.FilterWrapper3 .filterInputGroupOther .btn:disabled{
    background-size: 36px;
    top: -5px;
    left: -4px;
    margin:auto;
    width:30px;
}

.FilterWrapper3 .filterInputGroupOther .btn:hover{
    box-shadow:none;
}


.FilterWrapper3 .filterInputGroupOther .btnAdd {
    background-image: url('../../images/angle/angledetail/btn_additem.svg');
}

.FilterWrapper3 .filterInputGroupOther .btnRemove {
    background-image: url('../../images/angle/angledetail/btn_removeitem.svg');
}

.FilterWrapper3 .filterInputGroupOther .btnRemoveAll {
    background-image: url('../../images/angle/angledetail/btn_removeall.svg');
}

.FilterWrapper4 .filterInputGroupOther .btnEnumPopup {
    width: 29px;
    height: 28px;
    border-width: 1px;
}

.FilterWrapper4 .filterInputGroupOther .btnEnumPopup .icon {
    margin: auto;
    text-indent: 0;
}

.FilterWrapper4 .filterInputGroupOther .btnSelectAll {
    top: 0;
    background-image: url('../../images/angle/angledetail/btn_selectall.svg');
}

.FilterWrapper4 .filterInputGroupOther .btnDeselectAll {
    top: 33px;
    background-image: url('../../images/angle/angledetail/btn_deselectall.svg');
}

.FilterWrapper4 .filterInputGroupOther .btnInvertSelect {
    top: 66px;
    background-image: url('../../images/angle/angledetail/btn_invertselect.svg');
}

.FilterWrapperBool .filterInput {
    line-height: 30px;
}

.FilterWrapperBool .filterInput label {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    min-width: 60px;
}

.FilterWrapperBool .filterInput input[type="radio"],
.FilterWrapperBool .filterInput input[type="checkbox"] {
    position: absolute;
    top: 9px;
}

.FilterWrapper4 .filterLabel {
    display: none;
}

.FilterWrapper4 .filterInputData {
    margin-left: 0;
}

.FilterWrapper4 .k-widget {
    margin-left: 0;
}

/* .gridEnumList
============================================ */
.gridEnumList.focus {
    border: 1px solid #4d90fe;
    box-shadow: 0 0 2px #236e97;
}

.gridEnumList .k-header .k-link {
    position: relative;
    text-align: right;
}

.gridEnumList .customTitle {
    position: absolute;
}

#popupEnumurateEnlarge_wnd_title {
    right: 80px;
}

.popupEnumurateEnlarge .FilterWrapper .k-grid-header {
    display: block;
}

.popupEnumurateEnlarge .FilterWrapper {
    padding: 0;
}

.popupEnumurateEnlarge .searchBoxWrapper {
    float: none;
    margin: 0 200px 13px 0;
}

.popupEnumurateEnlarge .filterInput .k-dropdown {
    font-size: 12px;
    width: 230px;
    position: absolute;
    right: 0;
    top: 1px;
}

.popupEnumurateEnlarge .filterInputGroupOther {
    top: 55px;
}

.popupEnumurateEnlarge .k-grid {
    height: 455px;
}

/* .AskForValue
============================================ */
.AskForValue {
    margin: -3px 0 0 12px;
}

.AskForValue .NoticeIcon {
    padding-right: 20px;
    background-position: right center;
    background-size: 14px 14px;
}

.AskForValue > label {
    margin-left: 20px;
}

.AskForValue > label:first-child {
    margin-left: 0;
}
