/* .widgetLabelsWrapper
============================================ */
.widgetLabelsWrapper {
    font-size: 12px;
}

.widgetLabelsWrapper .remark {
    margin-top: 5px;
}

.widgetLabelsWrapper .tabMenu li {
    width: 120px;
}

.widgetLabelsWrapper .tabPanelContainer {
    overflow: auto;
}

.widgetLabelsWrapper .labelCategoryContainer {
    float: left;
    width: 120px;
    margin: 0 0 0 10px;
}

.widgetLabelsWrapper .labelCategoryContainer:first-child {
    margin-left: 0;
}

.widgetLabelsWrapper .labelCategoryName {
    position: relative;
    display: inline-block;
    max-width: 115px;
    font-size: 12px;
    padding: 0;
    margin: 0 0 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widgetLabelsWrapper .labelCategoryName.required {
    max-width: 112px;
    padding-right: 7px;
}

.widgetLabelsWrapper .labelCategoryName.required:after {
    content: '*';
    position: absolute;
    right: 0;
}

.widgetLabelsWrapper .labelsList {
    margin: 0;
    padding: 0;
}

.widgetLabelsWrapper .currentLabelsList > li {
    cursor: default;
    position: relative;
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #555;
    border-radius: 12px;
    line-height: 22px;
    padding: 0 15px 0 10px;
    margin-bottom: 3px;
}

.widgetLabelsWrapper .currentLabelsList > .view,
.widgetLabelsWrapper .currentLabelsList > .undefined {
    background-color: #ccc;
}

.widgetLabelsWrapper .labelName {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btnDeleteLabel {
    display: none;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    background: transparent url(../../images/angle/angledetail/btn_delete_language.png) left top no-repeat;
}

.touch .btnDeleteLabel,
li:hover .btnDeleteLabel {
    display: block;
}

.disabled .btnDeleteLabel,
.disabled li:hover .btnDeleteLabel {
    display: none;
}

.widgetLabelsWrapper .btnAddLabel {
    position: relative;
    display: block;
    font-weight: bold;
    background-color: #b2b2b2;
    border-radius: 12px;
    line-height: 22px;
    padding: 0 0 0 10px;
    margin-bottom: 3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.widgetLabelsWrapper .btnAddLabel.active {
    border-radius: 12px 12px 0 0;
}

.widgetLabelsWrapper .disabled .btnAddLabel {
    display: none;
}

.widgetLabelsWrapper .btnAddLabel:before {
    content: '+';
    margin: 0 5px 0 0;
}

#AvailableLabelsPopup {
    position: relative;
}

#AvailableLabelsPopup .availableLabelsList {
    position: absolute;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
    border: 1px solid #c5c5c5;
    margin: 0;
    padding: 0;
    min-width: 150px;
    max-width: 250px;
    z-index: 10;
    max-height: 139px;
    overflow-y: auto;
}

#AvailableLabelsPopup .availableLabelsList > li {
    cursor: pointer;
    padding: 6px;
    border-top: 1px solid #c5c5c5;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#AvailableLabelsPopup .availableLabelsList > li:first-child {
    border-top-width: 0;
}

#AvailableLabelsPopup .availableLabelsList.no > li,
#AvailableLabelsPopup .availableLabelsList.no > li:hover {
    cursor: default;
    background-color: #fff;
    font-style: italic;
    color: #999;
}

#AvailableLabelsPopup .availableLabelsList > li:hover,
#AvailableLabelsPopup .availableLabelsList > .active {
    background-color: #f0f0f0;
}

#AvailableLabelsPopup .labelName {
    display: inline-block;
}