@import '../abstracts/mixins';
@import '../abstracts/variables.scss';

/* .accordion
============================================ */
.accordion {
    overflow: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #f7f7f7;

    hr {
        border-top: 2px solid #fff;
        margin: 0 10px;
    }
}

.accordion-item {
    box-sizing: border-box;
    background-color: #ffffff;
    border: solid 1px #f1f3f4;
    margin: 10px 14px;
    padding: 0;

    .accordion-transparent & {
        background-color: transparent;
    }
}

.accordion-header {
    @include flex-center;
    cursor: default;
    background-color: #fff;
    color: #061c2b;
    font-size: 10px;
    font-family: $font-stack;
    font-size: 12px;
    font-weight: 500;
    padding: 12px;

    .accordion-transparent & {
        background-color: transparent;
    }

    .accordion-toolbar {
        margin-left: auto;
        font-size: 13px;
        line-height: 1;

        .action {
            color: #78909c;
            padding: 2px;
            margin-left: 2px;

            &:not(.disabled) {

                &:before {
                    position: relative;
                    top: 0;
                }

                &:hover {
                    color: #3d4852;

                    &:before {
                        top: -5px;
                        transition: top 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
                    }
                }
            }
        }
    }
}

.open-indicator,
.close-indicator {
    margin-top: -2px;
    margin-right: 5px;
    margin-right: 14px;
    color: #78909c;
    font-size: 12px;
    line-height: inherit;
}

.open .open-indicator,
.close .close-indicator {
    display: inline-block;
}

.open .close-indicator,
.close .open-indicator {
    display: none;
}

.accordion-body {
    padding: 0 12px 10px;
    font-family: $font-stack;
    font-size: 12px;
    color: #061c2b;
    line-height: 1.67;

    .open + & {
        display: block;
    }

    .close + & {
        display: none;
    }

    .form-row {
        margin-left: -5px;
        margin-right: -5px;
    }
}

.accordion.expand-all {
    .accordion-header.close .close-indicator {
        display: none;
    }

    .accordion-header.close .open-indicator,
    .accordion-header.close + .accordion-body {
        display: block;
    }
}
