@import '../abstracts/variables';
@import '../abstracts/mixins';

.breadcrumb-wrapper {
    position: relative;
    @include flex-center;
    margin: 0 5px;
    padding: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;

    .breadcrumb-item {
        display: inline-flex;
        align-items: center;
        flex-wrap: nowrap;
        padding-bottom: 3px;

        .breadcrumb-label {
            display: inline-flex;
            cursor: default;
            color: #061c2b;
            font-weight: bold;

            &.icon-breadcrumb-edit {
                color: #78909c;
            }
        }

        .breadcrumb-link {
            cursor: pointer;
            color: #007AC9;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0.1px;
            font-size: 11px;
            text-decoration: underline;

            &:hover .breadcrumb-name {
                /*color: $primary-color;*/
                text-decoration: underline;
            }
        }

        .breadcrumb-editable {
            cursor: pointer;

            .icon-breadcrumb-edit {
                display: none;
                color: #78909c;
            }

            &:hover .icon-breadcrumb-edit {
                display: block;
            }
        }
    }

    .icon-breadcrumb-home {
        margin-top: -2px;
        margin-right: 10px;
        min-width: 10px;
    }

    .icon-breadcrumb-separator {
        margin: 0 10px;
        min-width: 12px;
    }

    .icon-breadcrumb-front {
        margin-right: 7px;

        &.icon-angle {
            color: $primary-color;
        }
    }

    .icon-breadcrumb-rear {
        margin-left: 5px;

        &.icon-validated {
            color: #7dc855;
        }
    }
}
