@import '../abstracts/variables';

/* input, textarea
============================================ */
$invalid-color: #b00020;

input::-ms-clear {
    display: none;
}

input:disabled,
textarea:disabled {
    cursor: default;
    pointer-events: none;
    opacity: $disabled-opacity;
}

input[type="text"],
input[type="password"] {
    height: 28px;
}

input[type="text"],
input[type="password"],
textarea {
    -webkit-appearance: none;
    border: 1px solid $input-base-border;
    border-radius: 0;
    background-color: #fff;
    padding: 6px 12px;
    margin: 0;
    box-sizing: border-box;
    height: 30px;
    font-family: Roboto;
    font-size: 12px;
    letter-spacing: 0.15px;
    color: $input-primary-font-color;

    &:focus {
        border-color: $input-focus-border;
        outline: none;
    }

    &:hover {
        border-color: $input-hover-border;
        outline: none;
    }

    &.invalid,
    &.invalid:focus {
        border-color: $invalid-color;
        outline: none;
    }
}

input[type="text"].input-light,
input[type="password"].input-light,
textarea.input-light {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 0;

    &:focus {
        border-bottom-color: $input-focus-border;
        outline: none;
    }

    &:hover {
        border-bottom-color: $input-hover-border;
        outline: none;
    }

    &:active {
        border-bottom-color: $input-active-border;
        outline: none;
    }
}

.input-fieldset {
    position: relative;

    .legend {
        position: absolute;
        left: 10px;
        top: -6px;
        padding: 0 3px;
        background-color: #fff;
        font-family: $font-stack;
        font-size: 11px;
        line-height: 1.33;
        letter-spacing: 0.4px;
        color: #061c2b;
    }

    > input,
    > input:hover {
        width: 100%;
        border-radius: 2px;
        padding-left: 12px;
        padding-right: 12px;

        &.invalid + .legend {
            color: $invalid-color;
        }
    }

    input:focus {
        border-color: $input-textfield-focus-border;
    }

    input:disabled + .legend {
        color: rgba(0, 0, 0, 0.5)
    }
}