@import '../abstracts/mixins';
@import '../abstracts/variables';

/* .item-label
============================================ */
.item-label-wrapper {
    @include inline-flex-center;
    flex-wrap: wrap;
}
.item-label {
    @include inline-flex-center;
    background-color: $secondary-color;
    color: #000000;
    padding: 5px 8px;
    margin: 0 5px 5px 0;
    height: 24px;
    cursor: default;
    position: relative;
    box-sizing: border-box;
    font-family: $font-stack;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;

    span {
        min-width: 46px;
        margin-right: 22px;
    }

    .btn-remove {
        @include inline-flex-center;
        justify-content: center;
        cursor: pointer;
        height: 10px;
        width: 10px;
        font-size: 10px;

        .icon {
            line-height: 12px;
            font-weight: 500!important;
        }
    }
}

.item-label-primary {
    background-color: $primary-color;
    color: #fff;
    border-radius: 2px;

    .btn-remove {
        color: #fff;
    }
}

.item-label-light {
    background-color: transparent;
    background-image: linear-gradient(to right, #e6effb 0%, #f5fcff);
    border-radius: 2px;

    &.active {
        outline: 1px auto $primary-color;
    }
}