@import '../abstracts/mixins';

$default-size: 24px;
$small-size: 20px;
$large-size: 35px;

/* .displayNameContainer
=================================== */
.displayNameContainer {
    @include flex-center;
    position: relative;
    min-width: 100px;
    height: $default-size;
    box-sizing: border-box;

    .front, .rear, .icon, .name {
        display: inline-flex;
        align-items: center;
        position: relative;
        height: $default-size;
    }

    .front {
        margin-left: -5px;
        flex-shrink: 0;
    }

    .rear {
        flex-shrink: 0;
    }

    .icon {
        font-size: 14px;
        width: $default-size;
        color: #78909c;

        &:before {
            margin: auto;
        }

        &.icon-angle {
            color: #ff4040;
        }

        &.icon-validated {
            color: #7dc855;
        }

        &.icon-star-active:before, &.icon-star-inactive:before {
            color: #f3aa18;
        }

        &.validError {
            background-size: 30px 30px;
        }

        &.none {
            display: none;
        }

        &.icon-info {
            color: #34495e;
        }

        &.icon-parameterized.active {
            color: #f3aa18;
        }

        &.icon-adhoc {
            width: auto;
            font-size: 16px !important;
            font-style: normal;
            color: #ff9800;
            padding: 0 2px;
            margin-top: -4px;

            &:before {
                content: '*';
            }
        }

        &.loader-spinner-inline {
            cursor: default;
            width: 9px;
            height: 9px;
            margin: 4px 5px 4px 4px;
        }
    }

    .name {
        display: inline-block;
        @include ellipsis;
        text-indent: 0;
        min-width: 10px;
        height: auto;
        margin: 0 3px;
        top: 3px;
        box-sizing: border-box;
        flex-basis: auto;

        &.displayName {
            padding-left: 8px;
        }
    }
}

.displayNameContainer.small {
    height: $small-size;

    .front, .rear, .icon {
        height: $small-size;
    }

    .front {
        margin-left: -4px;
    }

    .icon {
        font-size: 12px;
        width: $small-size;

        &.loader-spinner-inline {
            width: 7px;
            height: 7px;
            margin: 3px 3px 3px 4px;
        }

        &.icon-template:before {
            background-size: 17px 17px;
        }

        &.icon-dashboard:before {
            background-size: 14px 14px;
        }

        &.validWarning:before {
            background-size: 13px 13px;
            width: 13px;
            height: 13px;
        }

        &.icon-adhoc {
            width: auto;
            font-size: 14px !important;
        }
    }

    .name {
        top: 1px;
    }
}

.displayNameContainer.large {
    height: $large-size;
}

.displayNameContainer .template {
    background-position: center center;
}

.k-dropdown .displayNameContainer {
    margin-top: 3px;
    margin-left: 5px;
}

.k-item .displayNameContainer {
    margin: -2px -2px -2px 1px;
}
