@import '../abstracts/mixins';
@import '../abstracts/variables';

/* .item-label
============================================ */
.item-label-wrapper {
    @include inline-flex-center;
    flex-wrap: wrap;
}
.item-label {
    @include inline-flex-center;
    background-color: #f1f3f4;
    color: $font-color;
    padding: 0 5px;
    margin: 0 5px 5px 0;
    line-height: 1.85em;
    cursor: default;
    position: relative;
    box-sizing: border-box;
    font-size: 11px;

    .btn-remove {
        @include inline-flex-center;
        justify-content: center;
        cursor: pointer;
        height: 12px;
        width: 12px;
        font-size: 7px;
        margin-left: 3px;
        color: #78909c;

        .icon {
            line-height: 12px;
        }
    }
}

.item-label-light {
    background-color: transparent;
    background-image: linear-gradient(to right, #e6effb 0%, #f5fcff);
    border-radius: 2px;

    &.active {
        outline: 1px auto #358ed7;
    }
}