@import '../abstracts/variables';
@import '../abstracts/mixins';

/* .tab
============================================ */
.tab {
    font-size: 12px;

    .tab-menu-wrapper {
        position: relative;
        @include flex-center;

        .tab-menu {
            position: relative;
            @include inline-flex-center;
            justify-content: center;
            cursor: pointer;
            color: #818181;
            letter-spacing: .2px;
            height: 36px;
            padding: 0 10px;
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 0;
                height: 3px;
                background-color: $primary-color;
                transition: width .3s ease-in-out, left .3s ease-in-out;
            }

            &.active {
                color: #061c2b !important;
                background-color: #fff;
                font-family: $font-stack;
                font-size: 12px;
                font-weight: 500;
                line-height: 1.83;
                letter-spacing: 0.1px;
                text-align: center;

                &:before {
                    width: 100%;
                    left: 0;
                }
            }

            &:hover {
                .action {
                    visibility: visible;
                }
            }

            .action {
                visibility: hidden;

                &.btn-info {
                    margin-left: 3px;
                    font-size: 12.5px;
                }
            }
        }
    }

    .tab-content-wrapper {
        box-sizing: border-box;
        padding: 10px;

        .tab-content {
            display: none;

            &.active {
                display: block;
            }
        }
    }
}

.tab-full .tab-menu-wrapper .tab-menu {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.tab-details, .tab-settings {
    .tab-menu-wrapper {
        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 0;
            border-bottom: 1px solid #e3e5e5;
        }

        .tab-menu {
            font-family: $font-stack;
            font-size: 12px;
            line-height: 2;
            letter-spacing: 0.44px;
            text-align: center;
            color: #444;

            &:before {
                top: auto;
                bottom: 0;
                height: 2px;
            }

            &.active {
                font-size: 13px;
                color: $primary-color !important;
                background-color: transparent;
            }
        }
    }
}
