<div class="SelectedDisplayItem">
    <div class="displayNameContainer">
        <div class="front">
            <i class="icon"></i>
        </div>
        <span class="name"></span>
        <div class="rear">
            <i class="icon none"></i>
            <i class="icon none"></i>
            <i class="icon none"></i>
            <i class="icon none"></i>
        </div>
    </div>
</div>
<div class="SelectedDisplayIcon"></div>
<div id="DisplayListSelection">
    <!-- ko stopBinding: true -->
    <div id="DisplayItemList" class="DisplayItemListContainer">
        <div class="DisplayItemList">
            <div class="DisplayOption" data-bind="visible: anglePageHandler.CanKeepFilter()">
                <i class="btn-keep-filter icon icon-no-filter"></i>
                <label>
                    <span data-bind="text: KeepFiltersText"></span>
                    <input id="KeepFilter" type="checkbox" data-bind="checked: displayModel.KeepFilter, click: displayModel.SelectKeepFilter" />
                    <span class="label"></span>
                </label>
            </div>
            <div data-bind="foreach: Displays">
                <div class="ItemList" data-bind="attr: { alt: Uri, title: Name }, click: anglePageHandler.SwitchDisplay">
                    <div class="displayNameContainer">
                        <div class="front">
                            <i class="icon" data-bind="attr: { 'class': 'icon ' + DisplayTypeClassName + ' ' + ExtendDisplayTypeClassName }"></i>
                        </div>
                        <span class="name" data-bind="text: Name"></span>
                        <div class="rear">
                            <i class="icon" data-bind="attr: { 'class': 'icon ' + PublicClassName }"></i>
                            <i class="icon" data-bind="attr: { 'class': 'icon ' + ValidClassName }"></i>
                            <i class="icon" data-bind="attr: { 'class': 'icon ' + FilterClassName }"></i>
                            <i class="icon" data-bind="attr: { 'class': 'icon ' + ParameterizedClassName }"></i>
                        </div>
                    </div>
                    <div class="selectStatus"></div>
                    <a class="btnDelete icon icon-close" data-bind="click: anglePageHandler.DeleteDisplay, clickBubble: false, css: { disabled: displayModel.IsTemporaryDisplay() || !CanDelete }"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>
<div id="SelectedDisplayPointer" class="SelectedDisplayPointer"></div>