<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->


  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"  xdt:Transform="Remove" xdt:Locator="Match(name)"/>
  </configSections>

  <appSettings >
    <add key="WebServerBackendUrl" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="WebServiceBackendNOAPort" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="WebApiVersion" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="WebClientUrl" xdt:Transform="Replace" value="/Search/SearchPage" xdt:Locator="Match(key)"/>
    <add key="WebClientAngleUrl" xdt:Transform="Replace" value="/Angle/AnglePage" xdt:Locator="Match(key)"/>
    <add key="DefaultCommentPageSize" xdt:Transform="Replace" value="10" xdt:Locator="Match(key)"/>
    <add key="LogFileFolder" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MaxLogFileSize" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="MaxLogFileNumber" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="EnableMiniprofiler" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="IgnoreSSLError"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="webpages:Version"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="webpages:Enabled" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="PreserveLoginUrl"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="ClientValidationEnabled" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="UnobtrusiveJavaScriptEnabled" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="LargePageSize"  xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="RestClientTimeout"   xdt:Transform="Remove" xdt:Locator="Match(key)"/>
    <add key="MCDisplayPopupJavascriptError" xdt:Transform="Replace" value="false" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->


  </system.web>
</configuration>
