@using System.Web.UI.WebControls
@using EveryAngle.Shared.Globalization
@{
    ViewBag.Title = "Angle for SAP - Help Text";
    Layout = "~/Views/Shared/Master.cshtml";
}
@section scripts
{

}
@section TopBar
{
    <div id="TopBar">
        <div class="Wrapper">
            @{Html.RenderPartial("~/Views/Shared/Top/Logo.cshtml");}
            @{Html.RenderPartial("~/Views/Shared/Top/BusinessProcessBadge.cshtml");}
        </div>
    </div>
}

<div id="MainContent" class="Wrapper helpTextContainer busy">
    <div class="helpHeaderContainer">
        <p><strong>@ViewBag.HelptextName</strong></p>
    </div>
    @Html.Raw(ViewBag.Helptext)
</div>

<style type="text/css">
    #MainContent {
        visibility: visible;
        opacity: 1;
        transition: opacity .3s cubic-bezier(.25, .8, .25, 1);
    }
    #MainContent.busy {
        visibility: hidden;
        opacity: 0;
    }
    .Wrapper.helpTextContainer {
        padding: 15px;
        overflow-y: auto !important;
        height: 200px;
        box-sizing: border-box;
    }

    .loader-container,
    .k-overlay {
        display: none !important;
    }
</style>
<script src="@Scripts.Url("~/bundles/main")"></script>
<script>
    jQuery(function () {
        jQuery(window).on('resize', function () {
            jQuery('#MainContent').outerHeight(WC.Window.Height - jQuery('#MainContent').offset().top);
        }).trigger('resize');

        var fnCheckHandler = setInterval(function () {
            if (window.HelpTextHandler) {
                clearInterval(fnCheckHandler);
                jQuery('#MainContent').removeClass('busy');

                var query = decodeURIComponent(window.location.search);
                var modelUri = WC.Utility.GetQueryStringValue('/' + query, 'model');
                jQuery('#MainContent a').each(function () {
                    helpTextHandler.UpdateHelpTextLink(jQuery(this), modelUri);
                });
            }
        }, 100);

    });
</script>
