<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EveryAngle.Utilities" version="3.1.438190" targetFramework="net48" />
  <package id="Ionic.Zip" version="1.9.1.8" targetFramework="net45" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net48" />
  <package id="RestSharp" version="105.2.3" targetFramework="net48" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net48" />
</packages>