@import '../abstracts/variables';
@import '../abstracts/mixins';

$display-tab-bottom-border-color: #e6e6e6;

#ResultContainerWrapper {
    /*z-index: 0;*/
    background: #fafafa;
    margin-left: 60px;
    height: 100%;
}

.detailsWrapper {
    left: 0;
    position: relative;
    top: 0;
    height: auto;
    background: #f5f5f5;
    z-index: 1;
    border-bottom: 1px solid $display-tab-bottom-border-color;
    box-sizing: border-box;

    @include respond-to(medium) {
        .Wrapper {
            min-width: 0;
        }
    }

    &.top {
        z-index: 11;
        background: #f5f5f5;
    }

    .Wrapper {
        z-index: 0;
        background: #fafafa;
    }

    .display-tab {
        background-color: #fff;
    }
}

#DisplayTabs {

    .tab-menu-header-inner {
        background-color: #e9ecee;
        font-size: 12px;
        line-height: 1.83;
        text-align: left;
        color: #061c2b;
        filter: brightness(0.98);
        letter-spacing: 0.42px;

        .icon {
            color: #78909c;
        }
    }

    .active .tab-menu-header-inner {
        background-color: $primary-color;
        font-size: 12px;
        line-height: 1.83;
        text-align: left;
        color: #fafcfc;

        .icon {
            color: #fafcfc;
        }
    }
}