/* common
================================== */
html {
    overflow: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 20px 0;
    padding: 0;
}

.container {
    position: relative;
    margin: auto;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

pre {
    white-space: pre-wrap;
}

label {
    position: relative;
}

label > .label {
    margin-left: 3px;
}

input:disabled,
textarea:disabled,
select:disabled,
option:disabled,
button:disabled {
    cursor: default;
    color: #ccc;
    border-color: #e6e6e6 !important;
}

.hidden {
    display: none;
}

.alwaysHidden {
    display: none !important;
}

.alwaysVisible {
    display: block !important;
}

.tableRowVisible {
    display: table-row !important;
}

.highlight {
    background-color: #ff0;
}

.highlight.transparent {
    background-color: transparent;
}

::-webkit-input-placeholder {
    color: #999;
}

:-moz-placeholder {
    opacity: 1;
    color: #999;
}

::-moz-placeholder {
    opacity: 1;
    color: #999;
}

:-ms-input-placeholder {
    color: #999;
}

.placeholder {
    color: #999;
}

.drag-helper {
    opacity: .6;
    z-index: 1000;
    top: 7px;
}

.k-state-selected input {
    color: #333;
}

.breakword {
    word-wrap: break-word;
}

.customTimeout i {
    font-size: 11px;
}

.textLeft {
    text-align: left !important;
}

.textRight {
    text-align: right !important;
}

.textCenter {
    text-align: center !important;
}

.textDisabled {
    color: #ccc;
}

.textEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* scrollbar
================================== */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border: 0;
    border-radius: 0;
}

::-webkit-scrollbar-track {
    background: #ececec;
    border: 0;
    border-radius: 0;
}

/* .loading
================================== */
#LoaderContainer {
    display: block;
}
#LoaderContainer .loader-wrapper {
    display: block;
}
#LoaderContainer .loader-message {
    display: none;
}

#LoaderContainer .loader-percentage {
    font-size: unset;
}

#LoaderContainer .loader-message.typeError {
    color: #c33;
}
#LoaderContainer .loader-message.typeError .loader-message-content {
    background-image: url(../images/icons/icon_option_error.png);
}

#LoaderContainer .loader-message.typeInfo .loader-message-content {
    background-image: url(../images/icons/icon_info.svg);
    background-position: 10px 10px;
}

#LoaderContainer .loader-message {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
#LoaderContainer .loader-message-overlay {
    position: fixed;
    width: 100%;
    height: 1000%;
    background-color: #333;
    opacity: .5;
    z-index: 1;
}
#LoaderContainer .loader-message-content {
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 10px 13px;
    padding: 10px 10px 10px 45px;
    width: 400px;
    height: auto;
    min-height: 20px;
    margin-top: -100px;
    margin-left: -220px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 2px;
    z-index: 2;
}
#LoaderContainer .loader-message .loader-cancel-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    background: transparent url(../images/icons/icon_close.png) center center no-repeat;
}
#LoaderContainer .loader-message-text {
    display: inline-block;
    font-size: 11px;
    overflow: hidden;
    width: 100%;
}
#LoaderContainer .loader-message-text h1 {
    font-size: 14px;
    margin-bottom: 5px;
    word-wrap: break-word;
}
#LoaderContainer .loader-message-text p {
    overflow: hidden;
    width: 390px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 0;
}
#LoaderContainer .loader-message-text i {
    font-size: 10px;
    word-break: break-all;
}
#LoaderContainer .loader-message-text ul {
    margin: 0;
    list-style: none;
    overflow: hidden;
    overflow-y: auto;
    max-height: 200px;
}
#LoaderContainer .loader-message-text li {
    position: relative;
    line-height: 12px;
    margin-bottom: 4px;
    padding-left: 10px;
    font-size: 11px;
}
#LoaderContainer .loader-message-text li:before {
    content: '•';
    position: absolute;
    left: 0;
    top: 0;
}
#LoaderContainer .loader-message-text li.success {
    color: #090;
}
#LoaderContainer .loader-message-text li.fail {
    color: #c33;
}

#LoaderContainer .btnReloadSession {
    float: right;
    margin-right: 0!important;
    margin-top: 10px;
}

#LoaderContainer .mass-report-progress {
    text-align: center;
}

/* .errorContainer
================================== */
.errorContainer {
    display: none;
}

.errorContainer .error {
    position: absolute;
    white-space: nowrap;
    color: #c33;
    padding: 3px 5px;
    border: 1px solid #c33;
    border-radius: 2px;
    background-color: #fdd;
    z-index: 90000;
}

.errorContainer .error:after,
.errorContainer .error:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.errorContainer .error:after {
    border-color: rgba(255, 221, 221, 0);
    border-bottom-color: #ffdddd;
    border-width: 5px;
    left: 10px;
    margin-left: -5px;
}

.errorContainer .error:before {
    border-color: rgba(204, 51, 51, 0);
    border-bottom-color: #cc3333;
    border-width: 6px;
    left: 10px;
    margin-left: -6px;
}

input.error,
select.error,
textarea.error,
div.error {
    border-color: #c33 !important;
    color: #c33;
}

/* .topWrapper
================================== */
.topWrapper {
    /*display: table;*/
    position: relative;
    z-index: 2;
    width: 100%;
    top: 0;
}

/* .header
================================== */
.header {
    height: 48px;
    background: #061c2b;
    box-shadow: 0 0 6px rgba(0, 0, 0, .1);
}

.brand {
    float: left;
    margin-left: 15px;
    margin-top: 13px;
}

.topMenu {
    float: right;
    position: relative;
    box-sizing: border-box;
    padding-top: 14px;
    padding-right: 20px;
    height: 100%;
    line-height: normal;
}

.topMenu .menuItem {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.topMenu .menuItem a {
    display: block;
    color: #333;
    font-size: 12px;
}
.topMenu .menuItem a:hover {
    color: #666;
}

#UserControlName {
    color: #fafcfc;
    letter-spacing: .2px;
    padding-right: 3px;
    min-width: 50px;
    max-width: 100px;
    box-sizing: border-box;
    float: left;
}

#UserMenuControl {
    margin-left: 5px;
}

#UserMenuControl .icon {
    float: right;
}

.menuItem a:not(#UserMenuControl) .icon {
    display: block;
    margin-top: -5px;
    width: 24px;
    height: 24px;
}

.helpIcon {
    background: transparent url('../images/icons/help.svg') left center no-repeat;
}

.downArrow {
    background: transparent url(../images/icons/icon_arrow_down_fcfcfc.svg) center center no-repeat;
    width: 12px;
    height: 12px;
}

.systemInfo {
    position: relative;
    text-align: right;
    white-space: nowrap;
    font-size: 13px;
    float: left;
    color: #ffffff;
}

.systemInfoVersion {
    margin-left: 3px;
}

#DefaultCurrency {
    min-width: 30px;
    width: 30px;
}

/* .breadcrumb
================================== */
.breadcrumb {
    position: relative;
    z-index: 2;
    height: 40px;
    background: white;
    color: #025e7f;
    margin: 0 auto;
    border: 1px solid #f2f2f2;
}

.breadcrumbInner {
    line-height: 40px;
    color: #000;
    font-size: 12px;
    overflow: hidden;
    font-weight: normal;
}

ul.breadcrumbList {
    height: 40px;
    width: 2000px;
    margin: 0 0 0 20px;
}

ul.breadcrumbList li {
    padding: 0;
}

.breadcrumbList li:before {
    margin: 0 12px;
    content: url(../Images/Icons/icon_arrow_right.svg);
    display: inline-block;
    height: 8px;
    width: 8px;
}

.breadcrumbList li:first-child:before {
    display: none;
}

.breadcrumbList a {
    color: inherit;
}

ul#breadcrumbList li:last-child a,
ul#breadcrumbList li:only-child a  {
    font-weight: 500;
}

ul#breadcrumbList li:first-child a:before {
    content: url(../images/icons/icon_home.svg);
    display: inline-block;
    height: 12px;
    width: 12px;
    margin-right: 12px;
    position: relative;
    top: 3px;
}

.breadcrumbList a:hover {
    text-decoration: underline;
}

.breadcrumbList a.noLink {
    cursor: default;
}

.breadcrumbList a.noLink:hover {
    text-decoration: none;
}

/* .pageToolbar
================================== */
.pageToolbar {
    height: 40px;
    background: #fff none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}

.mainContent .pageToolbar {
    display: none;
}

.pageTitle {
    display: none;
}

.mainContainerFull .pageTitle {
    margin-left: 20px;
}

.pageToolbarButton {
    float: right;
    text-align: right;
    margin: 5px auto;
}

/* .mainContainer
================================== */
.mainContainer {
    position: relative;
    background: #fff;
    z-index: 1;
}

/* .sideContent
================================== */
.sideContent {
    position: relative;
    z-index: 3;
    width: 204px;
    height: 1000px;
    top: 0;
    float: left;
    overflow: hidden;
    overflow-y: auto;
    background-color: #f7f7f7;
    border-right: 1px solid #e6e6e6;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
}

.mainContainerFull .sideContent {
    display: none;
}

.sideContent ul {
    margin-bottom: 0;
}

.sideMenu {
    font-size: 14px;
}

    .sideMenu > li {
        background-color: #f2f2f2;
    }

        .sideMenu > li > a {
            position: relative;
            display: block;
            padding: 0 12px 0 31.6px;
            height: 40px;
            line-height: 45px;
            text-decoration: none;
            background: #fff;
            border: solid 1px #f1f3f4;
            cursor: pointer;
            color: #061c2b;
        }

            .sideMenu > li.active > a,
            .sideMenu > li > a:hover,
            .sideMenu > li.active > a:hover {
                font-weight: bold;
                background: #ffffff;
                color: #061c2b;
            }

.sideMenuLabel {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}

.sideMenu li > a > .icon {
    display: none;
}

.sideMenu li.sideMenuWithChild > a > .icon {
    display: block;
}

.sideMenu > li > a > .icon {
    position: absolute;
    margin-top: -7px;
    top: 50%;
    left: 9px;
    width: 12px;
    height: 15px;
    background: transparent url(../images/icons/icon_arrow_right.svg) left center no-repeat;
}

.sideMenu > li.active > a > .icon,
.sideMenu > li > a:hover > .icon,
.sideMenu > li.active > a:hover > .icon {
    background-image: url(../images/icons/icon_arrow_down.svg);
    fill: white;
}

.sideMenuLevel2 .sideMenuWithChild > a:hover > .icon {
    background-image: url(../images/icons/icon_arrow_down.svg);
}

.sideMenuLevel2 .sideMenuWithChild.active > a {
    background: #ffffff !important;
}

.sideMenuLevel2 {
    display: none;
    border-bottom: none;
}

.sideMenu > li.active .sideMenuLevel2 {
    display: block;
}

.sideMenuLevel2 > li > a {
    position: relative;
    display: block;
    padding: 0 10px 0 42px;
    font-weight: normal;
    height: auto;
    line-height: 26px;
    background: #ffffff;
    color: #061c2b;
    font-size: 13px;
}

    .sideMenuLevel2 > li.active > a,
    .sideMenuLevel2 > li > a:hover,
    .sideMenuLevel2 > li.active > a:hover {
        font-weight: bold;
        color: #061c2b;
        background: #cef4f6;
    }

.sideMenuLevel2 > li.active > a {
    color: #061c2b;
}

.sideMenuLevel2 > li > a > .icon {
    position: absolute;
    margin-top: -4px;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 9px;
    background: transparent url(../images/icons/icon_arrow_right.svg) center center no-repeat;
}

.sideMenuLevel2 > li.active > a > .icon {
    background: transparent url(../images/icons/icon_arrow_down.svg) center center no-repeat;
}

.sideMenuLevel3 {
    display: none;
}

.sideMenuLevel2 > li.active .sideMenuLevel3 {
    display: block;
}

.sideMenuLevel3Category {
    cursor: default;
    display: block;
    padding: 5px 20px 5px 50px;
    font-size: 12px;
    font-weight: bold;
    background: white;
    color: #78909c;
}

.sideMenuLevel3 > li > a {
    position: relative;
    display: block;
    padding: 0 10px 0 60px;
    font-weight: normal;
    height: auto;
    line-height: 26px;
    background: #fff;
    color: #061c2b;
    font-size: 13px;
}

    .sideMenuLevel3 > li.active > a,
    .sideMenuLevel3 > li > a:hover,
    .sideMenuLevel3 > li.active > a:hover {
        font-weight: bold;
        background: #cef4f6;
    }

.sideMenuLevel3 > li > a > .icon {
    display: none;
    position: absolute;
    margin-top: -5px;
    top: 50%;
    left: 0;
    width: 20px;
    height: 9px;
    line-height: 1;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
}

.sideMenuLevel3 > li.active > a > .icon {
    display: none;
}

/* .mainContent
================================== */
.mainContent {
    position: relative;
    z-index: 1;
    overflow: auto;
    height: 1000px;
    margin-left: 194px;
    box-sizing: border-box;
    border-right: 1px solid #c0c0c0;
}

.no-touch.safari .mainContent {
    -webkit-margin-start: 0px !important; /* NOSONAR: safari bug */
}

.mainContainerFull .mainContent {
    margin-left: 0;
    border-left: 1px solid #c0c0c0;
}

.mainContent .pageToolbarInner,
.mainContent .content {
    opacity: 1;
    transition: opacity .25s;
}

.loadingMainContent .pageToolbarInner,
.loadingMainContent .content,
.errorMainContent .pageToolbarInner,
.errorMainContent .content {
    opacity: 0;
}

.mainContent .content {
    padding: 18px;
    min-width: 534px;
}

.loadingMainContent .content {
    display: none;
}

.contentSection {
    margin-bottom: 20px;
}

.contentSection > h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 16px;
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
    html {
        overflow-x: auto;
    }

    .topWrapper,
    .container {
        width: 100%;
        min-width: 768px;
    }
}