@model EveryAngle.Core.ViewModels.Model.Setting

<label data-role="tooltip">@Model.Name</label>
<p>
@{
    @(Html.Label(Model.Value.ToString(), new { @class = "fieldValue percentage" }));

    if(Model.Description != null)
    {
        <a class="btn btnInfo icon icon-info" onclick='helpPopupPageHandler.ShowDescriptionPopup(this)'></a>
        <textarea class="alwaysHide">@Model.Description</textarea>
    }
}
</p>